
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color:var(--color-fg);
}

/* For about page. Not good. */

h2 {
    /*
    font-family:var(--fontfamily-garamond-sc);
    font-size:1.375rem;
    text-transform:lowercase;
    letter-spacing:.08rem;
    margin:3.25rem 0 0;
    */
    margin-top:2rem;
    margin-bottom:1rem;
    font-family:"Inter", sans-serif;
    font-weight:650;
    font-size:1.375rem;
    letter-spacing:0;
}

h3 {
    margin:1.5rem 0 .5rem;
    font-family:var(--fontfamily-garamond-sc);
    text-transform:lowercase;
    padding-right:.1rem;
    letter-spacing:.01rem;
    font-size:var(--fontsize-first);
}

.section-title--graph {
    margin-bottom:1.25rem;
}

.subtitle {
    margin:1rem 0;
    padding:0;
    letter-spacing:.03rem;
}

.section-title__box {
    //margin:1.125rem 0 1.5rem;
    margin:1.125rem 0 1.875rem;
}

.section-title {
    color: var(--color-fg-true);
    font-family: var(--fontfamily-sans);
    font-weight:450;
    letter-spacing:.03rem;
    font-size:2.5rem;
    line-height:1.3;
    font-feature-settings: "cv10";
    margin:0;
    display:inline-block;
}

/*
[data-colors="dark"] .section-title {
    font-weight:430;
}
*/


.set-title {
    letter-spacing:.08rem;
    font-size:1.5rem;
    line-height:1.3;
    margin:0 0 .5rem;
}

.lead {
    font-size: var(--fontsize-second);
}

.divi {
    margin-bottom:-1rem;
    display:none;
}

.section-lead {
    font-size: var(--fontsize-second);
    word-spacing:.2rem;
    margin:0;
    display:inline-block;
    float:right;
    padding-top:1.25rem;
}

.draft {
    font-weight:normal;
    font-size:1.5rem;
}

.draft mark {
    padding:0 .5rem;
    background:rgb(255, 255, 162);
    color: black;
}

.media-mixin(@break) when (@break = @break-single) {
    .draft {
        font-size:2rem;
    }

    .section-title__box {
        margin-top:1.5rem;
        margin-bottom:2rem;
    }
    .section-title {
        font-size:2.875rem;
    }
    [data-type="large"] .section-title {
        font-size:3.5rem;
        letter-spacing:0rem;
    }
    .section-lead {
        padding-top:1.4375rem;
        float:right;
    }
}

.index-title-box {
    line-height:3.5rem;
    margin:.75rem 0;
}

.former-set-title {
    display:inline-block;
    font-size:27px;
    line-height:32px;
    letter-spacing:1px;
    margin:0;
}

.section-explanation {
    font-size:.875rem;
    color:var(--color-fg);
    line-height:3rem;
    display:none;
}

.section-help {
    float:right;
    display:inline-block;
    display:none;
}

.el-combined-title {
    font-size:1.125rem;
    font-family: var(--fontfamily-sans);
    font-weight:700;
    margin-left:1.5rem;
    vertical-align:middle;
}

.description {
    font-family: var(--fontfamily-garamond);
    font-style:normal;
    font-size:18px;
    letter-spacing:0;
    /*
    display:inline-block;
    line-height:24px;
    */
    vertical-align:middle;
    margin-left:1.75rem;
}

