a {
    text-decoration:none;
    color: @link-color;
}

.dark a {
    color: @dark-link-color;
}

.altl,
.blackl {
    color: #000;
}

.dark .altl,
.dark .blackl {
    color: @dark-white;
}

.topicl {
    color: @link-color;
}

.editl {
    float:right;
    opacity:0.1;
    font-size:.75rem;
    line-height:1rem;
}

.index-el .editl {
    //margin-left:.5rem;
}

.index-el .editl,
.graph-text .editl {
    display:inline-block;
    position:absolute;
    right:1rem;
}

a:hover {
    border-bottom:2px @prim-red solid;
    padding-bottom:1px;
}

.dark a:hover {
    border-color:@dark-red;
}

.altl:hover,
.thumbl:hover,
.mnavl:hover {
    padding-bottom:0;
}

.uarr:hover,
.notel:hover,
.altl:hover,
.thumbl:hover,
.mnavl:hover,
.logol:hover {
    border:0;
}

.images img:hover {
    opacity:.85;
}

.tip {
    display:inline-block;
    padding:.5rem;
    border:2px solid @prim-red;
    margin:.5rem 0 .5rem;
}

.more-tip {
    text-align:right;
    font-style:italic;
    margin:1rem 0 .5rem;
    text-indent:0rem;
}

@media (max-width:@break-single) {
    .more-tip {
        margin-top:-.5rem;
    }
}

#top-link {
    position:fixed;

    right:1rem;
    bottom:.5rem;
}

.dark .uarr path {
    fill:@dark-link-color;
}

.uarr:hover path {
    fill:@prim-red;
}

.uarr svg {
    height:2.25rem;
    width:auto;
}

#top-link.hide {
    display:none;
}

