svg {
    height:auto;
    max-width:100%;
}

::cue {
    font-size:1.625rem;
    font-family:var(--fontfamily-sans);
}

figure {
    margin:0;
    text-align:center;
}

figcaption {
    text-align:left;
}

.caption-text {
    margin-bottom:1rem;
}

.alt-sign {
    width:1rem;
    display:inline-block;
}

.audio {
    margin:.5rem 0 0rem;
}


video,
img {
    max-width:100%;
}

video {
    outline:none;
}

.video-main figure {
    text-align:left;
}

.video-main video {
    max-width:30rem;
    max-height:30rem;
}

.blob-group img {
    max-width:20rem;
    max-height:20rem;
}

.media-mixin(@break) when (@break = @break-single) {
    .video-main video,
    .blob-group img {
        max-width:100%;
        max-height:100%;
    }

    /*
    .alt-text {
        width:50%;
        max-width:30rem;
        text-align:justify;
    }
    */
    .alt-sign {
        width:1.25rem;
        margin-left:-1.25rem;
    }
    video,
    img {
        max-height:100vh;
    }

    img.expand {
        max-height:170vh;
    }

    //@media (min-width: @break-single) {
}

.media-mixin(@break) when (@break = @break-desk) {
    .video-main video,
    .blob-group img {
        max-width:35rem;
        max-height:35rem;
    }

    img.expand {
        max-height:150vh;
    }

    //@media (min-width: @break-desk) {
}

.media-mixin(@break) when (@break = @break-wide) {
    video,
    img {
        max-height:90vh;
    }
    //@media (min-width: @break-wide) {
}

.caption {
    margin-top:.5rem;
}

#body img {
    cursor:zoom-in;
}

#body img.expand {
    cursor:zoom-out;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}


