
.wall {
    position:relative;
}
.wall p {
    filter: blur(.1875rem);
}
.get-access {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:red;
}
.text {
    margin-bottom:1.5rem;
}

.set .text:last-child {
    margin-bottom:0;
}

p {
    margin:0;
}

ol {
    margin:.5rem 0 0;
}

ul {
    margin:0;
    padding:1rem;
    //list-style:none;
}

.lines ul {
    padding:0 1rem;
    margin-bottom:.5rem;
}

dl {
    margin:.5rem 0;
}

dd {
    margin-left: 1rem;
}

dd {
    margin-bottom:1rem;
}

dd:last-child {
    margin-bottom:0;
}

/*
li:before {
    width:1rem;
    margin-left:-1rem;
    display:inline-block;
    content: "–";
}
*/

// basic texts

.lines p,
.indent p {
    text-align:justify;
}

.indent p {
    text-indent:1.5rem;
}

.indent h2 + p,
.indent h3 + p,
.indent blockquote + p,
.indent p:first-child {
    text-indent:0;
}

.lines p {
    margin-bottom:.5rem;
}

.lines p:last-child {
    margin-bottom:0;
}

.center {
    text-align:center;
}


// inline styling


.inscription,
.allcaps {
    text-transform:uppercase;
    letter-spacing:.06rem;
}

.allcaps {
    letter-spacing:.03rem;
}

.inscription {
    text-align:center;
    display:block;
}

.def {
    padding-left:1.5rem;
    display:inline-block;
}

.caps {
    letter-spacing:.06rem;
    font-variant:small-caps;
    padding:0 0rem;
    display:inline-block;
}

.caps::first-letter {
    letter-spacing:.08rem;
}

.asterism {
    display:block;
    text-align:center;
}

.indent .asterism {
    margin:1.75rem 0;
}

.sc {
    font-family:var(--fontfamily-garamond-sc);
    text-transform:lowercase;
    padding-right:.1rem;
    letter-spacing:.02rem;
    //font-feature-settings:"smcp" 1;
    font-variant-ligatures:no-contextual;
}

.bracket {
    display:inline-block;
}

.strike {
    text-decoration:line-through;
}

mark.sc {
    background:transparent;
}

mark {
    color:var(--color-fg);
}

.sperr {
    font-style:normal;
    letter-spacing:.1rem;
    margin-left:.125rem;
}

p code {
    font-family:var(--fontfamily-mono);
    font-size:1.125rem;
    padding-left:.125rem;
}

.modtime {
    display:inline-block;
    font-size:16px;
    margin-right:1.5rem;
}

// footnotes

.footnotes {
    margin:1rem 0;
}

.footnotes {
    font-size:var(--fontsize-quote);
}

.note-num,
ol li::before {
    display:inline-block;
    width:1.25rem;
}

ol {
    list-style: none;
    padding-left:1.25rem;
    counter-reset: my-counter;
}
ol li {
    counter-increment: my-counter;
    text-align:justify;
}
ol li::before {
    content: counter(my-counter) ".";
    margin-left:-1.25rem;
}

.footnotes hr {
    display:none;
}

.inline-note {
    display:none;
}

.ref {
    vertical-align:unset;
    padding-left:.5px;
    font-family:var(--fontfamily-garamond-sups);
    line-height:1;
}

.note-number {
}

.quote {
    font-size: var(--fontsize-third);
    padding-left:1rem;
    display:inline-block;
}

blockquote {
    max-width:32rem;
    margin:.5rem 0;
    padding-left:1rem;
    font-size: var(--fontsize-quote);
    line-height:1.45;
    text-align:justify;
}

.media-mixin(@break) when (@break = @break-single) {
    .column,
    .lefter {
        max-width: var(--text-width);
    }

    .column {
        margin-left:17%;
        margin-right:auto;
    }

    .def {
        padding-left:2.5rem;
    }
}

.private {
    font-size:.875rem;
    margin-right:.25rem;
}

.private-graph {
    background:red;
    width:.5rem;
    height:.5rem;
    float:right;
    position:absolute;
    margin-left:-1rem;
    margin-top:.5rem;
    border-radius:.25rem;
}

.private-inline {
    background:var(--color-red-private);
    /*
    */
    width:.5rem;
    height:.5rem;
    display:inline-block;
    /*
    margin-top:3px;

    padding:3px 4px;
    */
    margin-left:1rem;
    border-radius:.25rem;
}
