p {
    margin:0;
}

ul {
    margin:0;
    padding:0 1rem;
}

.front-meta,
.graph-text,
.text-entry {
    max-width:28.5rem;
}

.front-meta,
.graph-text,
.large .text-entry {
    max-width:30.5rem;
}


.inscription,
.allcaps {
    text-transform:uppercase;
    letter-spacing:.06rem;
}

.allcaps {
    letter-spacing:.03rem;
}

.inscription {
    text-align:center;
    display:block;
}

.def {
    padding-left:1.5rem;
    display:inline-block;
}

.caps {
    letter-spacing:.06rem;
    font-variant:small-caps;
    padding:0 0rem;
    display:inline-block;
}

.caps::first-letter {
    letter-spacing:.08rem;
}

.footnotes {
    display:none;
}

.footnotes.show {
    display:block;
}

.footnotes,
.el li {
    max-width:30rem;
}

.indent,
.lines {
    max-width:30rem;
    text-align:justify;
}

.large .indent,
.large .lines {
    max-width:32rem;
}

.indent {
    text-indent:1.5rem;
}

.indent:first-child {
    text-indent:0;
}

.lines {
    margin-bottom:.5rem;
}

.center {
    text-align:center;
}


.sc {
    font-family:@ebg-sc;
    text-transform:lowercase;
    padding-right:.1rem;
    letter-spacing:.01rem;
    font-feature-settings:"smcp" 1;
}

mark.sc {
    background:transparent;
}

.night mark {
    color:@night-white;
}

.sperr {
    font-style:normal;
    letter-spacing:.1rem;
    margin-left:.125rem;
}

.mono {
    font-family:@cmut;
    font-size:1.125rem;
    padding-left:.125rem;
}

.changelog {
    list-style:none;
    padding:0;
}

.modtime {
    display:inline-block;
    font-size:16px;
    margin-right:1.5rem;
}

.footnotes {
    margin:0 0 1rem;
}

.note {
    font-size:1rem;
}

.note-ref {
    vertical-align:unset;
    padding-left:1.5px;
    font-family:@ebg-sups;
}

.notel {
    color:@second-red;
}

.night .notel {
    color:@night-second-red;
}

.note-number {
    font-size:.875rem;
    vertical-align:middle;
    margin-right:.25rem;
    display:inline-block;
    margin-top:-.25rem;
}

.quote {
    font-size:@third-size;
    padding-left:1rem;
    display:inline-block;
}

blockquote {
    max-width:32rem;
    margin:0;
    margin-top:.5rem;
    padding-left:1rem;
    font-size:@third-size;
    line-height:1.45;
    text-align:justify;
}



.media-mixin(@break) when (@break = @break-single) {
    .def {
        padding-left:2.5rem;
    }
}

.private {
    font-size:.875rem;
    margin-right:.25rem;
}
