
:root {
    --fontsize-base:   1rem;        // 16
    --fontsize-first:  1.1875rem;   // 19
    --fontsize-second: 1.125rem;    // 18
    --fontsize-third:  1.0625rem;   // 17
    --fontsize-meta:   1.045rem;    // 16.72;
    --fontsize-quote:  1rem;        // 16
    --text-width: 30rem;
}

[data-size="medium"] {
    --fontsize-base:   1.15625rem;  // 18.5
    --fontsize-first:  1.3125rem;   // 21
    --fontsize-second: 1.3125rem;   // 21
    --fontsize-third:  1.21875rem;  // 19.5
    --fontsize-meta:   1.1875rem;   // 19
    --fontsize-quote:  1.125rem;   // 17
    --text-width: 32rem;
}

[data-size="large"] {
    --fontsize-base:   1.1875rem;   // 19
    --fontsize-first:  1.4375rem;   // 23
    --fontsize-second: 1.3125rem;   // 21
    --fontsize-third:  1.3125rem;   // 21
    --fontsize-meta:   1.1875rem;   // 19
    --fontsize-quote:  1.0625rem;   // 17
    --text-width: 37rem;
}

.light-theme() {
    --color-bg:         white;
    --color-fg:         black;
    --color-fg-true:    black;
    --color-link-blue:  hsl(216, 100%, 23%);
    --color-link:       hsl(263deg 48% 35%);
    --color-inactive:   hsl(0, 0%, 40%);
    --color-red-private:hsl(0, 100%, 50%);
    --color-red-logo:   hsl(346, 83%, 40%);
    --color-red-first:  hsl(0, 100%, 42%);
    --color-red-second: hsl(0, 100%, 37%);
    --color-red-second: hsl(337deg 100% 37%);
}

.dark-theme() {
    --color-bg:         hsl(0, 0%, 3%);
    --color-fg:         hsl(0, 0%, 93%);
    --color-fg-true:    white; 
    --color-link:       hsl(216, 100%, 77%);
    --color-inactive:   hsl(0, 0%, 60%);
    --color-red-private:hsl(0, 100%, 70%);
    --color-red-logo:   hsl(346, 100%, 50%);
    --color-red-first:  hsl(0, 100%, 51%);
    --color-red-second: hsl(0, 100%, 55%);
}

:root {
    .light-theme;
}

[data-colors="dark"] {
    .dark-theme;
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        .dark-theme;
    }
    [data-colors="dark"] {
        .light-theme;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        .light-theme;
    }
    [data-colors="dark"] {
        .dark-theme;
    }
}
*/


:root {
    --fontfamily-mono:          "CMU Typewriter", "Courier New", monospace;
    --fontfamily-year:          "President Std", "EB Garamond 12", times, serif;
    --fontfamily-garamond:      "EB Garamond", times, serif;
    --fontfamily-garamond-sc:   "EB Garamond SC", serif;
    --fontfamily-garamond-sups: "EB Garamond Sups", times, serif;
    --fontfamily-garamond12:    "EB Garamond 12", times, serif;
    --fontfamily-garamond12-sc: "EB Garamond 12 SC", times, serif;
    --fontfamily-troy:          "Troy", serif;
    --fontfamily-alegreya-sc:   "Alegreya Sans SC", serif;
    --fontfamily-sans:          "Inter", sans-serif;
    --fontfamily-section:       "Univers", "Inter", sans-serif;
    --plyr-font-family:         var(--fontfamily-sans);
    --plyr-color-main:          white;
    --plyr-video-background:    transparent;
    --plyr-video-control-background-hover: hsla(0, 0%, 0%, 0.5);
    --plyr-control-radius: 2rem;
    --plyr-font-size-large: 1.625rem;
    --plyr-font-size-time: 1rem;
    --plyr-font-size-menu: 1rem;
    --plyr-font-size-small: 1.375rem;
}

@break-mobile: 36rem;
@break-single: 48rem;
@break-desk: 58rem;
@break-wide: 90rem;


