
:root {
    --fontsize-base:   1rem;        // 16
    --fontsize-first:  1.1875rem;   // 19
    --fontsize-second: 1.125rem;    // 18
    --fontsize-third:  1.0625rem;   // 17
    --fontsize-meta:   1.045rem;    // 16.72;
    --fontsize-quote:  1rem;        // 16
}

.large {
    --fontsize-base:   1.15625rem;  // 18.5
    --fontsize-first:  1.3125rem;   // 21
    --fontsize-second: 1.3125rem;   // 21
    --fontsize-third:  1.21875rem;  // 19.5
    --fontsize-meta:   1.1875rem;   // 19
    --fontsize-quote:  1.0625rem;   // 17
}

:root {
    --color-bg:         white;
    --color-fg:         black;
    --color-fg-soft:    hsl(0, 0%, 13%);
    --color-link:       hsl(216, 100%, 23%);
    --color-inactive:   hsl(0, 0%, 40%);
    --color-red-logo:   hsl(346, 83%, 40%);
    --color-red-first:  hsl(0, 100%, 4%);
    --color-red-second: hsl(0, 100%, 37%);
}

.dark {
    --color-bg:         hsl(0, 0%, 3%);
    --color-fg:         hsl(0, 0%, 93%);
    --color-fg-soft:    hsl(0, 0%, 87%);
    --color-link:       hsl(216, 100%, 77%);
    --color-inactive:   hsl(0, 0%, 60%);
    --color-red-logo:   hsl(346, 100%, 50%);
    --color-red-first:  hsl(0, 100%, 51%);
    --color-red-second: hsl(0, 100%, 55%);
}

:root {
    --fontfamily-mono:          "CMU Typewriter", "Courier New", monospace;
    --fontfamily-year:          "President Std", "EB garamond12", times, serif;
    --fontfamily-garamond:      "EB Garamond", times, serif;
    --fontfamily-garamond-sc:   "EB Garamond SC", serif;
    --fontfamily-garamond-sups: "EB Garamond Sups", times, serif;
    --fontfamily-garamond12:    "EB Garamond 12", times, serif;
    --fontfamily-garamond12-sc: "EB Garamond 12 SC", times, serif;
    --fontfamily-troy:          "Troy", serif;
    --fontfamily-alegreya-sc:   "Alegreya Sans SC", serif;
    --fontfamily-sans:          "Univers", "Inter", sans-serif;
    // "Public Sans", serif;
    // "Nimbus Sans L", sans-serif;
}

@break-single: 48rem;
@break-desk: 58rem;
@break-wide: 90rem;


