/*************************************************************************************************
 * Document
 *************************************************************************************************/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 980px;
}

video {
  max-width:100%;
}
