{{define "about-main"}}
{{template "head" .Head}}
{{template "top" .}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{aboutTitle $.Head.Lang}}
        <h1>
    </div>

{{template "about-entries" (eL .Tree .Head.Lang)}}


{{template "bot" .Head}}
{{end}}


{{define "about-page"}}
{{template "head" .Head}}
{{template "top" .}}

    <h1 class="about-title">
        {{.Hold.Info.Title .Head.Lang}}
    </h1>



    {{/*template "chamomile" .Head.Lang*/}}
  
    {{/*template "edit-link-hold" (holdArg .Hold false .Head.Lang)*/}}


{{template "bot" .Head}}
{{end}}

{{define "about-entries"}}
    {{range .E.Entries}}
    <article class="index-el">
        {{template "entry" (eL . $.Lang)}}
    </article>
    {{end}}
{{end}}



