{{define "about-main"}}
{{template "head" .Head}}
{{template "top" .}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{aboutTitle $.Head.Lang}}
        </h1>
    </div>


    <div class="cols">
      <div>
      {{template "about-entries" (esL .Tree.Entries .Head.Lang)}}
      </div>

      {{template "chamomile" .Head}}
    </div>


{{template "bot" .Head}}
{{end}}


{{define "about-page"}}
{{template "head" .Head}}
{{template "top" .}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

<h1 class="about-title {{.Tree.Slug "en"}}-title">
        {{.Tree.Title .Head.Lang}}
    </h1>

    {{if eq (.Tree.Slug "en") "support"}}
      {{template "support-page"}}
    {{else}}
      {{template "about-entries" (esL .Tree.Entries .Head.Lang)}}
    {{end}}


  
    {{/*template "edit-link-hold" (holdArg .Hold false .Head.Lang)*/}}



{{template "bot" .Head}}
{{end}}

{{define "about-entries"}}
    {{range .Es}}
      {{if eq .Type "html"}}
        {{template "entry" (eL . $.L)}}
      {{else}}
        <article class="tob entry--index lefter">
            {{template "entry" (eL . $.L)}}
        </article>
      {{end}}
    {{end}}
{{end}}



