old
node_modules
package-lock.json
compression
data
runenv
.vscode/
dist
static/img/icons
static/fonts/originals
static/screens
static/svg/indecsmap-de.svg
static/svg/indecsmap-en.svg
static/svg/logo/save
static/img/matricaria-recutita.jpg
static/fonts/P22MorrisTroy.woff2
static/fonts/P22MorrisTroy.woff
css/compile
token
users.db
.DS_Store
__debug_bin
ga.html
static/svg/bw.svg
js/.pnp.cjs
js/package.json
js/.yarn/install-state.gz
js/.pnp.loader.mjs
install-state.gz
.yarn
