{{define "komposita-article"}}

{{template "head" .Head}}
{{template "top" .}}

    {{template "komposita-single-part" .}}

    {{template "bot" .Head}}

{{end}}}

{{define "komposita-single-part"}}

    {{$eL := eL .Entry .Head.Lang}}

    <div id="body">
      <h2 class="komposit-title">
                {{.Entry.Title .Head.Lang}}
      </h2>
        {{if eq .Entry.Type "text"}}
        <div class="el-text">
            {{template "entry" $eL}}
        </div>
        {{else if eq .Entry.Type "set"}}
            {{template "komposita-sets" (eL .Entry $.Head.Lang)}}
        {{else}}
          {{template "entry" $eL}}
        {{end}}
    </div>



  {{if isLocal}}
  <div class="margin">
  {{template "edit-link" $eL}}
  </div>
  {{end}}

{{end}}


{{define "komposita-sets"}}
<div class="set set--graph">
    {{if eq 0 (len .Entry.Entries)}}
    <em>This entry has not been translated.</em>
    {{end}}
    {{$count := 1}}
    {{range .Entry.Entries}}
      {{if (eq .Type "set")}}
        <div class="column komp-number">
        {{$count}}
        {{$count = (add $count 1)}}
        </div>
        {{template "komposita-set" (esL .Entries $.L)}}
      {{else}}
        <div class="tob text column">
        {{template "entry" (eL . $.Lang)}}
        </div>
      {{end}}
    {{end}}
</div>
{{end}}

{{define "komposita-set"}}
  {{range .Entries}}
  <div class="tob text column">
    {{template "entry" (eL . $.Lang)}}
  </div>
  {{end}}
{{end}}

