{{define "indecs-main"}}
{{template "head" .Head}}
{{template "top" .}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{.Tree.Title .Head.Lang}}
        </h1>
        <h4 class="section-lead">
            {{var "indecs-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{template "indecs-entries" (eL .Tree .Head.Lang)}}

    <!--
    <section class="indecs-map">
        <h2 id="map" class="subtitle">
          <a href="#map">{{var "map" .Head.Lang}}</a>
        </h2>

        <div class="center">
        {{inlineFileLang "indecsmap" .Head.Lang}}
        </div>
        <div style="text-align:right;">
            <small>{{var "map-info" .Head.Lang}}</small>
        </div>
    </section>
    -->

    <!--
    <section id="serial">
        <h2 class="subtitle column">
          <a href="/index/serial/">Serial</a>
        </h2>

        {{range .Recents.Offset 0 35}}
          {{template "front-index-entry" (eL . $.Head.Lang)}}
        {{end}}

    {{/*
        <div class="more-tip">
            {{var "serial-link" .Head.Lang}}
        </div>
    </section>
    */}}
    -->

    {{template "bot" .Head}}
{{end}}


{{define "indecs-page"}}
{{template "head" .Head}}
{{template "top" .}}

{{/* TODO: isArticle */}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

    {{$isArticle := eq (index .Tree.Info "article") "true"}}

    {{$pageTitle := .Tree.Info.HyphTitle .Head.Lang}}
    {{$subTitle := ""}}

    {{with .Tree.TopicPage}}
      {{$subTitle = $pageTitle}}
      {{$pageTitle = .Info.HyphTitle $.Head.Lang}}
    {{end}}


    {{template "private-mark-graph" .Tree}}
    <h1 class="{{if $isArticle}}article{{else}}index{{end}}-title l{{.Tree.Level}}">
      {{$pageTitle}}
      {{with $subTitle}}
      <span class="indecs-title__sep">–</span>
      {{.}}
      {{end}}
    </h1>


        {{template "indecs-entries" (eL .Tree .Head.Lang)}}

      {{template "footnotes" (nL .Tree.Footnotes .Head.Lang)}}


{{template "bot" .Head}}
{{end}}



{{define "indecs-entries"}}
    {{range .E.Entries}}
      <article id="{{normalize (.Title $.Lang)}}" class="entry--index lefter">
          {{template "indecs-entry" (eL . $.Lang)}}
      </article>
    {{end}}
    {{if eq 0 (len .E.Entries)}}
        <article class="entry--index">
          –
        </article>
    {{end}}
{{end}}

{{define "indecs-entry"}}
  <!--
  <div class="indecs-date-top">
    {{template "indecs-date" .}}
  </div>
  -->

  {{if .E.MediaObject}}
    {{template "entry" .}}
  {{else}}
    <article class="tob tob--index lefter">
        {{template "entry" .}}
    </article>
    <div>
    {{template "indecs-date" .}}
    </div>
  {{end}}

  <!--
  <div class="indecs-date-bot">
    {{template "indecs-date" .}}
  </div>
  -->
  {{template "private-mark-graph" .E}}
  {{template "edit-link" .}}

{{end}}

{{define "indecs-date-link"}}
    {{$year := .E.Date.Format "06"}}
    <a href="{{.E.Perma .Lang}}">
        {{.E.Date.Format "2. 1."}}
        {{- with ne $year "21"}}
         {{$year}}
        {{end}}
    </a>
{{end}}

{{define "indecs-date"}}
    <div class="indecs-date">
      {{template "indecs-date-link" .}}
    </div>
{{end}}

