{{define "indecs-serial" -}}
{{template "head" .Meta}}
{{template "top" .}}

<div class="section-title__box section-title--index">
    <h1 class="section-title">
        Serial
    </h1>
</div>

{{range .Entries}}
{{template "indecs-entry-serial" (eL . $.Meta.Lang)}}
{{end}}


{{template "bot" .Meta}}
{{end}}

{{define "indecs-entry-serial"}}
  <article class="text-entry index-el-front lefter">
    {{if eq .E.Type "image"}}
        <span class="thumb index-thumb">
            <a class="thumbl" href="{{.E.Perma .Lang}}">
            {{template "graph-image-thumbnail" .}}
            </a>
        </span>
    {{else}}
        {{template "entry" .}}
    {{end}}
<header class="front-meta">
    {{template "private-mark" .E}}
    {{template "indecs-date-link" .}}
    {{with .E.Parent}}
    <a href="{{.Perma $.L}}">{{removeß (.Title $.L)}}</a> 
    {{end}}
</header>
    {{template "edit-link" .}}
  </article>
{{end}}

