{{define "front-index-title"}}
<header class="front-meta">
    {{template "private-mark" .E}}
    {{with (.E.Parent)}}
    <a href="{{.Perma $.L}}">{{removeß (.Title $.L)}}</a> 
    {{end}}
</header>
    {{template "edit-link" .}}
{{end}}


{{define "private-mark"}}
    {{if eq (index .Info "private") "true"}}<span class="private">⦻</span>{{end}}
{{end}}


{{define "front-index-entry"}}
  <article class="tob tob--front">
    {{if eq .E.Type "image"}}
        <span class="thumb index-thumb">
            <a class="thumbl" href="{{.E.Perma .L}}">
            {{template "graph-image-thumbnail" .}}
            </a>
        </span>
    {{else}}
        {{template "entry" .}}
    {{end}}
    {{template "front-index-title" .}}
  </article>
{{end}}
