{{define "front"}}
{{template "head" .Head}}

{{template "top" .}}


<!--
  <h4 class="front-lead">{{var "front-lead" .Head.Lang}}</h4>
<h2 class="front-head">Wichtige Artikel</h2>
-->
<!--
<div class="quicklinks">
  {{range frontArticles}}
  <a href="/index/{{.Hash}}">{{.Title $.Head.Lang}}</a>
  {{end}}
</div>
{{with .Featured}}
{{template "graph-front-entry" (eL . $.Head.Lang)}}
{{end}}
-->
<!--
<div class="cols">

<div class="quicklinks">
  {{range frontArticles}}
  <a href="/index/{{.Hash}}">{{.Title $.Head.Lang}}</a>
  <br>
  {{end}}
</div>
<div class="featured">
</div>
</div>
<hr class="front-divider">
-->

<!--
  <h4 class="front-lead">{{var "front-lead" .Head.Lang}}</h4>

  <div></div>
-->

  <div class="cols">
    <div class="col__content col--index">
    {{template "index-col" .}}
    </div>

    <div class="col__spacer">
    </div>

    <div class="col__content">
    {{template "graph-col" .}}
    </div>

  </div>




{{template "bot" .Head}}
{{end}}

  
{{define "index-col" -}}
<div>
      {{range .Index}}
      {{template "front-index-entry" (eL . $.Head.Lang)}}
      {{end}}
      <div class="more-tip">
          {{var "index-more" .Head.Lang}}
      </div>
</div>
{{- end}}

{{define "graph-col" -}}
    <div class="col__content col--video">
      {{range .Video}}
      <span class="front-video">
        {{.Type}}
      {{template "entry" (eL . $.Head.Lang)}}
      </span>
      {{end}}
    </div>
    
<div>
      {{template "media-groups-front" (esL .Graph .Head.Lang)}}
      <div class="more-tip">
      {{var "graph-more" .Head.Lang}}
      </div>
</div>
{{- end}}

{{define "more-tip"}}
<div class="more-tip">
  {{.}}
</div>
{{end}}

{{define "tip"}}
<div class="tip">
  {{.}}
</div>
{{end}}


{{define "media-groups-front"}}
    {{$total := 0}}

    <div class="media-groups">
    {{range $i, $group := .Es.Groups}}
      <section class="{{if $group.First.IsBlob}}blob{{else}}tob{{end}}-group">
        {{range $j, $e := $group}}

            {{$total = add $total 1}}
            <div {{if (gt $total 6)}}class="desktop"{{end}}>
            {{template "graph-front-entry" (eL $e $.L)}}
            </div>

        {{end}}
      </section>
    {{end}}
    </div>

{{end}}


{{define "graph-front-entry"}}
    {{if .E.IsBlob}}
        {{template "graph-blob" .}}
    {{else}}
      <article class="tob tob--front">
        {{template "graph-tob" .}}
      </article>
    {{end}}
{{end}}


