{{define "front"}}
{{template "head" .Head}}

{{template "top" .}}



{{/*
    {{template "graph-col" .}}
    {{template "log-list" .Log}}
    {{var "log-more" .Head.Lang}}
    */}}

    {{/*
{{ template "kine-col" . }}
  <div class="cols">
    <div class="col__content col--index">
    {{template "indecs-col" .}}
    </div>

    <div class="col__spacer">
    </div>

    <div class="col__content">
    </div>

  </div>
  */}}




{{template "bot" .Head}}
{{end}}

  
{{define "indecs-col" -}}
<div>
      {{range .Index}}
      {{template "front-index-entry" (eL . $.Head.Lang)}}
      {{end}}
      <!--
      <div class="more-tip">
          {{var "indecs-more" .Head.Lang}}
      </div>
      -->
</div>
{{- end}}

{{define "kine-col" -}}
    <div class="front-videos col--video">
      {{$c := 0}}
      {{range $i, $set := .Kine}}
      {{$untranslated := isCaptioned $set}}
      <span class="front-video{{if gt $c 3}} desktop{{end}}
      {{if $untranslated}} untranslated{{end}}">
        {{if $set.Cover}}
          {{if $untranslated}}
          <img class="no-subtitles" src="/static/svg/no-subtitles.svg">
          {{end}}
          {{template "graph-image" (eL $set.Cover $.Head.Lang)}}
        {{else}}
          Has no cover:<br>{{$set}}
        {{end}}
      </span>
      {{if isCaptioned $set}}
      {{$c = add $c 1}}
      {{end}}
      {{end}}
    </div>
{{- end}}

{{define "graph-col" -}}
  
<div id="graph" class="graph-front">
      {{template "object-groups" (esL .Graph .Head.Lang)}}
      <!--
      <div class="more-tip">
      {{var "graph-more" .Head.Lang}}
      </div>
      -->
</div>
{{- end}}

{{define "tip"}}
<div class="tip">
  {{.}}
</div>
{{end}}


{{define "media-groups-front"}}
    {{$total := 0}}

    <div class="media-groups">
    {{range $i, $group := .Es.Groups}}
      <section class="{{$group.First.ObjectType}}-group">
        {{range $j, $e := $group}}

            {{$total = add $total 1}}
            <div {{if (gt $total 6)}}class="desktop"{{end}}>
            {{template "graph-front-entry" (eL $e $.L)}}
            </div>

        {{end}}
      </section>
    {{end}}
    </div>

{{end}}


{{define "graph-front-entry"}}
    {{if .E.MediaObject}}
        {{template "graph-mob" .}}
    {{else}}
      <article class="tob tob--front">
        {{template "graph-tob" .}}
      </article>
    {{end}}
{{end}}


<!--
  <h4 class="front-lead">{{var "front-lead" .Head.Lang}}</h4>
<h2 class="front-head">Wichtige Artikel</h2>
-->
<!--
<div class="quicklinks">
  {{range frontArticles}}
  <a href="/index/{{.Hash}}">{{.Title $.Head.Lang}}</a>
  {{end}}
</div>
{{with .Featured}}
{{template "graph-front-entry" (eL . $.Head.Lang)}}
{{end}}
-->
<!--
<div class="cols">

<div class="quicklinks">
  {{range frontArticles}}
  <a href="/index/{{.Hash}}">{{.Title $.Head.Lang}}</a>
  <br>
  {{end}}
</div>
<div class="featured">
</div>
</div>
<hr class="front-divider">
-->

<!--
  <h4 class="front-lead">{{var "front-lead" .Head.Lang}}</h4>

  <div></div>
-->
