{{define "log-main"}}
{{template "head" .Head}}

{{template "top" .}}
{{template "log-list" .Log}}
{{template "bot" .Head}}
{{end}}

{{define "log-list"}}
<h1 class="index-title"><a href="/log">Log</a></h1>
<ul id="log" >
{{range .}}
  {{/* log entries written in English in the "de" field. */}}
  {{template "log-entry" (eL . "de")}}
{{end}}
</ul>
{{end}}

{{define "log-entry"}}
<li class="log">
  <span class="date">
  {{.E.Date.Format "2"}}
  {{abbr (.E.Date.Format "January")}}
  {{.E.Date.Format "15:04"}}
  </span>
  --
  <span class="entry">
  {{shaveParagraph (index .E.Script.Langs "de")}}
  </span>
</li>
{{end}}
