{{define "front-index-title"}}
<header class="front-meta">
    {{template "private-mark-graph" .E}}
    {{with (.E)}}
    <a href="{{.Perma $.L}}">{{.CombinedTitle $.L}}</a> 
    {{end}}
</header>
    {{template "edit-link" .}}
{{end}}


{{define "private-mark"}}
    {{if eq (index .Info "private") "true"}}<span class="private">⦻</span>{{end}}
{{end}}


{{define "front-index-entry"}}
  <article class="tob">
    {{if eq (.E.Info.Field "istopic" "de") "true"}}
    <h1 class="index-title">
      <a href="{{.E.Perma $.L}}">{{.E.Title $.L}}</a>
    </h1>
    {{end}}
    {{$type := .E.Type}}
    {{if eq $type "image"}}
        <span class="thumb index-thumb">
            <a class="thumbl" href="{{.E.Perma .L}}">
            {{template "graph-image-thumbnail" .}}
            </a>
        </span>
    {{else if eq $type "tree"}}
      {{template "front-index-tree" .}}
    {{else}}
        {{template "entry" .}}
    {{end}}
    {{template "private-mark-graph" .E}}
    {{template "front-index-title" .}}
  </article>
{{end}}


{{define "front-index-tree"}}
<div class="set">
  {{range $i, $e := .E.Entries}}
    <div class="text">
      {{template "entry" (eL $e $.L)}}
    </div>
  {{end}}
</div>
{{end}}
