
{{define "object-groups"}}
    <div class="object-groups">
    {{range $i, $group := .Es.Groups}}
        {{$single := eq (len $group) 1}}
        <section class="{{$group.ObjectType}}-group{{if $single}} single{{end}}">
          {{range $group}}
            {{if eq .Parent.Type "set"}}
              {{template "graph-set-entry" (eLy . $.L false)}}
            {{else}}
            <article class="object object--graph{{if .Info.Blur}} blur{{end}}">
              {{template "graph-object" (eLy . $.L false)}}
              {{if .Info.Blur}}
              <div class="get-access">
                Get access.
              </div>
              {{end}}
            </article>
            {{end}}
          {{end}}
        </section>
    {{end}}
    </div>
{{end}}

{{define "graph-object"}}
    {{if .E.MediaObject}}
        {{template "graph-mob" .}}
      {{else}}
          {{template "graph-tob" .}}
    {{end}}
{{end}}

// media object

{{define "graph-mob"}}
    {{$type := .E.Type}}
    {{if eq .E.Type "image"}}
        {{template "image" .}}
    {{else}}
        {{template "entry" .}}
    {{end}}
{{end}}

// text object

{{define "graph-tob"}}
    {{$type := .E.Type}}

    {{template "graph-date" .}}
    {{template "edit-link" .}}
    {{if eq $type "set"}}
        {{template "graph-set" .}}
    {{else if eq $type "text"}}
        <article class="tob column">
        {{template "text" .}}
        </article>
    {{else if eq $type "audio"}}
        {{template "entry" .}}
    {{else}}
        {{.E.Type}}<br>
        Didn’t catch type: {{.}} (graph-tob)
    {{end}}
{{end}}


{{define "graph-image"}}
    <span class="thumb">
            {{template "graph-image-thumbnail" .}}
    </span>
{{end}}

{{define "graph-text"}}
      {{template "text" .}}
{{end}}

{{define "graph-set"}}
<div class="set set--graph">
  {{/*template "graph-kine-desk" .*/}}
    {{if eq 0 (len .E.Entries)}}
    <em>This entry is not yet translated.</em>
    {{end}}
    {{template "object-groups" (esL .E.Entries .L)}}
  <div class="column">
  {{template "graph-kine-mobile" .}}
  </div>
  {{with .E.Notes}}
  <div class="column">
  {{template "footnotes" (nL . $.L)}}
  </div>
  {{end}}
</div>
{{end}}

{{define "footnotes"}}
    {{with .Notes}}
    <div class="footnotes">
      {{$notes := index . $.L}}
      {{range $i, $n := $notes}}
      <div class="note"><span class="note-num">{{plus1 $i}}.</span> {{$n}}</div>
      {{end}}
    </div>
    {{end}}
{{end}}

{{define "graph-kine-mobile"}}
    {{with .E.Kine}}
    <div class="graph-kine">
      {{range .}}
      <div class="graph-kine-mobile">
        {{template "graph-kine-title" (eL . $.L)}}
      </div>
      {{end}}
    </div>
    {{end}}
{{end}}

{{define "graph-kine-title"}}
<span class="graph-kine-title">
  <img class="icon" src="/static/svg/cam.svg">
  <span class="kine-date-notes">{{template "kine-date" .}}</span>:
  <a href="{{.E.Perma .L}}">
    {{.E.Title .L}}
  </a>
</span>
{{end}}


{{define "graph-kine-desk"}}
    {{with .E.Kine}}
  <div class="desktop">
      {{range .}}
        {{if .Cover}}
        <span class="graph-kine-image">
        {{template "image" (eL .Cover $.L)}}
        </span>
        {{end}}
      {{end}}
  </div>
    {{end}}
{{end}}

<!--
    {{range $i, $group := .E.Entries.Groups}}
      <section class="{{$group.First.ObjectType}}-group">
        {{range $group}}
          {{template "graph-set-child" (eLy . $.L $.Y)}}
        {{end}}
      </section>
    {{end}}
-->

{{define "graph-set-entry"}}
    {{template "private-mark-graph" .E}}
    {{$type := .E.Type}}
    {{if eq "image" $type}}
        {{template "image" .}}
    {{else if eq "video" $type}}
      <div class="video-main">
        {{template "entry" .}}
      </div>
    {{else}}
      <div class="tob text column">
          {{template "entry" .}}
      </div>
    {{end}}
{{end}}

{{define "graph-image-thumbnail"}}
    {{/* Title is used, because we **link** to entries. */}}
    {{$alt := .E.Title .L}}

    {{$src := .E.ImagePath 320 .L}}


    <a href="{{.E.Perma .L}}"><img src="{{$src}}"
         alt="{{$alt}}"
         srcset="{{template "graph-thumb-srcset" .}}"
         ></a>
    {{with .E.Info.Caption .L}}
    <div class="caption">
    {{.}}
    </div>
    {{end}}
{{end}}

{{define "graph-set-image"}}
{{$alt := .E.Title .L}}
{{$src := .E.ImagePath 320 .L}}
<img src="{{$src}}" alt="{{$alt}}" srcset="{{template "graph-thumb-srcset" .}}">
{{end}}

{{define "graph-thumb-srcset" -}}
    {{.E.SrcSet 320 .L}}, {{.E.SrcSet 480 .L}}, {{.E.SrcSet 960 .L}}, {{.E.SrcSet 1280 .L}}
{{- end}}
{{/*


    {{/*
    {{if .Lazy}}
      {{$src = .El.PlaceholderPath}}
    {{else}}
      {{$src = $realSrc}}
    {{end}}
    */}}
*/}}
{{/*
{{if .El.Cover}}
    <a href="{{.El.Perma.Lang}}">
    {{template "graph-image-thumbnail" (elArg .El.Cover .Lazy .Lang)}}
    </a>
{{else}}

    <img class="{{if .Lazy}} lazy{{end}}"
         src="{{$src}}"
         alt="{{$alt}}"
         {{if .Lazy}}
         data-src="{{$realSrc}}"
         data-srcset="{{- template "graph-thumb-srcset" .}}"
         {{else}}
         srcset="{{template "graph-thumb-srcset" .}}"
         {{end}}
         >

*/}}
