{{define "graph-entry"}}

    {{$type := .E.Type}}

    {{if eq $type "image"}}
        {{template "graph-entry-image" .}}
    {{else if eq $type "set"}}
        {{template "graph-entry-set" .}}
    {{else if eq $type "text"}}
        {{template "graph-entry-text" .}}
    {{else if eq $type "video"}}
        {{template "video" .}}
    {{else if eq $type "audio"}}
        {{template "audio" .}}
    {{else if eq $type "html"}}
        {{template "graph-entry-html" .}}
    {{else}}
        Didn’t catch. Type: {{$type}}. {{.}}
    {{end}}

{{end}}

{{define "graph-entry-image"}}
    <span class="thumb">
        <a class="thumbl" href="{{.E.Perma .L}}">
            (-- IMAGE --)
        </a>
    </span>
{{end}}

{{define "graph-entry-text"}}
    <article class="graph-text">
        <!-- to omit missing translations -->
        {{$text := .E.Text .L}}
        {{if $text}}
            {{template "edit-link" .}}
            <div>
                {{$text}}
            </div>
            {{template "graph-date" .}}
        {{end}}
    </article>
{{end}}


{{define "graph-entry-html"}}
    <article class="graph-text">
        <div>
            {{template "entry" .}}
        </div>
    </article>
{{end}}

{{define "graph-entry-set"}}

<article class="graph-set">
<div>
    {{range $i, $e := .E.Entries}}
        {{template "graph-entry-set-entry" (eLy . $.L $.Y)}}
    {{end}}
</div>
(date)
{{template "graph-date" .}}
</article>
{{end}}

{{define "graph-entry-set-entry"}}
    {{$type := .E.Type}}
    {{if eq "image" $type}}
    <section class="images">
        <span class="thumb">
            (-- IMAGE --)
            {{/*
            {{template "graph-image-thumbnail" .}}
            */}}
        </span>
    </section>
    {{else if eq "video" $type}}
    <div class="video-main">
        {{template "entry" .}}
    </div>
    {{else}}
    <div class="text-entry">
        <div>
            {{template "entry" .}}
        </div>
    </div>
    {{end}}
    {{template "private-mark-graph" .E}}
{{end}}

{{/*
{{define "graph-image-thumbnail"}}

  {{$lang := .Lang}}
  {{$lazy := .Lazy}}


    {{$alt := .El.Title $lang}}
    {{$src := ""}}
    {{$realSrc := .El.ImagePath 320 $lang}}
    {{$sizes := "(max-width: 450px) 177px, (max-width: 1024px) 222px, 320px"}}

    {{if .Lazy}}
      {{$src = .El.PlaceholderPath}}
    {{else}}
      {{$src = $realSrc}}
    {{end}}

    <img class="thumbi{{if .Lazy}} lazy{{end}}" src="{{$src}}" alt="{{$alt}}"  /*}}{{/*sizes="{{$sizes}}"*/}}{{/*
         {{if .Lazy}}
             data-src="{{$realSrc}}"
             data-srcset="{{- template "graph-thumb-srcset" (elArg .El .Lazy .Lang)}}"
         {{else}}
             srcset="{{template "graph-thumb-srcset" (elArg .El .Lazy .Lang)}}"
         {{end}}
    >


{{end}}

{{define "graph-thumb-srcset" -}}
{{.El.SrcSet 320 .Lang}}, {{.El.SrcSet 480 .Lang}}, {{.El.SrcSet 960 .Lang}}, {{.El.SrcSet 1280 .Lang}}{{- end}}


*/}}
{{/*
{{if .El.Cover}}
    <a class="thumbl" href="{{.El.Perma.Lang}}">
    {{template "graph-image-thumbnail" (elArg .El.Cover .Lazy .Lang)}}
    </a>
{{else}}

*/}}
