{{define "graph-year"}}
{{template "head" .Head}}
{{template "top" .}}
{{template "subnav" (snav .Tree 0 .Head.Lang)}}

<div class="section-title__box section-title--year">
    <h1 class="section-title">
        {{.Tree.Date.Format "2006"}}
    </h1>
</div>

{{range .Tree.Trees}}
    {{$monthNum := .Date.Format "01"}}
    <section id="{{$monthNum}}" class="month">
        <h2 class="month-title">
            <a href="#{{$monthNum}}">{{monthLang .Date $.Head.Lang}}</a>
        </h2>
        {{template "media-groups" (esL .Entries $.Head.Lang)}}
    </section>
{{end}}

{{template "prev-next-year" .}}
{{template "graph-arr" .Tree}}

{{template "bot" .Head}}
{{end}}



{{define "graph-main"}}
{{template "head" .Head}}
{{template "top" .}}
{{template "subnav" (snav .Tree 0 .Head.Lang)}}


    <div class="section-title__box section-title--graph">
        <h1 class="section-title">
            {{.Head.Title}}
        </h1>
        <h4 class="section-lead">
            {{var "graph-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{$months := (.Entries.Offset 0 25).Months}} <!-- 25 -->
    {{range $i, $entries := $months}}
      {{if $i}}
        <h2 class="month-title">
          {{monthLang $entries.First.Date $.Head.Lang}}
        </h2>
      {{end}}
      {{template "media-groups" (esLy $entries $.Head.Lang false)}}
    {{end}}


    <div class="graph-tip">
      {{var "graph-main-more" .Head.Lang}}
    </div>

    {{template "graph-arr" .Tree}}


{{template "bot" .Head}}
{{end}}

{{define "graph-arr"}}
    <div id="top-link" class="hide">
            <!--
            <img src="/static/img/uarr.svg" alt="↑"
            -->
        <a class="topl-corner uarr" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.76 17.96" height="67.88" width="55.786"><path d="M7.38 0L0 10.087v.001h3.834v7.872h7.092v-7.872h3.833z" fill="#002f74"/></svg>
        </a>
    </div>
    <script>
    {{if eq .Level 0}}
      let pageVars = { type: "graph-main" }
    {{else}}
      let pageVars = { type: "graph-year" }
    {{end}}
    </script>
{{end}}

{{/*

    <section class="graph-grid margin">

        {{$depth := .Hold.Level}}

        {{if eq $depth 0}}
            <!-- MAIN -->
            {{$lang := .Head.Lang}}
            {{$months := (.Els.Offset 0 10).Months}} <!-- 25 -->
            {{range $i, $els := $months}}
            {{if $i}}
            <h2 class="month-title">
                {{monthLang (index $els 0).Date $lang}}
            </h2>
            {{end}}
                {{template "media-groups" (elsArg $els false $lang)}}
            {{end}}

  

            {{ template "graph-main-more" .}}
        {{else if lt .Hold.Level 2}}
            <!-- YEAR -->
            {{$lang := .Head.Lang}}
            {{$months := .Els.Months}}
            {{range $i, $els := $months}}
            {{$firstEntry := (index $els 0)}}
            {{$monthNum := $firstEntry.Date.Format "01"}}
                <section id="{{$monthNum}}" class="month">
                    <h2 class="month-title">
                        <a href="#{{$monthNum}}t d">{{monthLang $firstEntry.Date $lang}}</a>
                    </h2>

                    {{if (gt $i 2)}}
                        {{template "media-groups" (elsArg $els true $lang)}}
                    {{else}}
                        {{template "media-groups" (elsArg $els false $lang)}}
                    {{end}}
                </section>
            {{end}}

            {{template "prev-next-year" .}}
        {{end}}

    </section>

    {{template "subnav-fixed" (snav .Tree 0 .Head.Lang)}}

    <div id="top-link" class="hide">
            <!--
            <img src="/static/img/uarr.svg" alt="↑"
            -->
        <a class="topl-corner uarr" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.76 17.96" height="67.88" width="55.786"><path d="M7.38 0L0 10.087v.001h3.834v7.872h7.092v-7.872h3.833z" fill="#002f74"/></svg>
        </a>
    </div>

    <script>
    {{if eq $depth 0}}
      var pageVars = { type: "graph-main" }
    {{else}}
      var pageVars = { type: "graph-year" }
    {{end}}
    </script>

    {{template "bot" .Head}}

{{end}}


{{/*



{{define "set-graph-el"}}
{{$lang := .Lang}}
<div class="el-text margin">
{{range $i, $e := .El.Els}}
    {{$type := elType $e}}
    {{if eq $type "text"}}
        <article class="text-entry graph-text">
            <div>
                {{template "el" (elArg $e false $lang)}}
            </div>
        </article>
    {{else}}
        <article>
                {{template "el" (elArg $e false $lang)}}
        </article>
    {{end}}
{{end}}
</div>
{{end}}


*/}}
