{{define "graph-month"}}
{{template "head" .Meta}}
{{template "top" .}}
{{template "subnav" (snav .Tree nil .Meta.Lang)}}

<div id="graph">
{{with .Tree}}
    {{$monthNum := .Date.Format "01"}}
    <section id="{{$monthNum}}" class="month">
        <h2 class="monthpage-title">
          <span class="monthyear">{{.Date.Format "2006"}},</span>
          {{.Info.Title $.Meta.Lang}}
          {{if .Info.Private}}
          <span class="right month-private">
            👻
          </span>
          {{end}}
        </h2>
        {{with .Summary}}{{template "summary" .}}{{end}}
        {{if isLocal}}
        {{with .SummaryPrivate}}{{template "summary" .}}{{end}}
        {{end}}
        {{if eq (index .Info "alpha") "true"}}
          {{template "unedited-hint" (var "alpha-month" $.Meta.Lang)}}
        {{end}}
        {{template "object-groups" (esL .Entries $.Meta.Lang)}}
    </section>
{{end}}
</div>

{{template "subnav-fixed" (snav .Tree nil .Meta.Lang)}}

{{template "first-published" .}}
{{template "prev-next-year" .}}
{{template "graph-arr" .Tree}}

{{template "bot" .Meta}}
{{end}}

{{define "first-published"}}
<div class="first-published">
    {{with .Tree}}
    {{with .Info.Published}}
    {{if eq $.Meta.Lang "en"}}
    First published: {{.Format "January,"}} {{.Format "2006"}}.
    {{else}}
    Erstmals publiziert: {{monthLang .Date $.Meta.Lang}} {{.Format "2006"}}.
    {{end}}
    {{end}}
    {{end}}
</div>
{{end}}
