{{/*
{{define "graph-month"}}
    <section id="{{.Hold.Date.Format "01"}}" class="month">

        <h2 class="subh month-title">
            <a href="{{.Hold.Permalink .Lang}}">{{.Hold.Info.Title .Lang}}</a>
        </h2>

        {{template "media-groups" (elsArg .Hold.Els .Lazy .Lang)}}
    </section>
{{end}}




{{define "media-groups"}}
    {{$lang := .Lang}}
    {{$lazy := .Lazy}}
    <div class="media-groups">
    {{range $i, $group := .Els.MediaGroups}}
      {{$firstType := (elType (index $group 0))}}
      {{if eq $firstType "image"}}
      <section class="images">
      {{else if eq $firstType "set"}}
      <section class="text">
      {{else if eq $firstType "text"}}
      <section class="texts">
      {{else if eq $firstType "html"}}
      <section class="texts">
      {{else}}
      <section class="texts">
      {{end}}

        {{range $group}}
            {{template "graph-main-el" (elArg . $lazy $lang)}}
        {{end}}
        <!--
        <div class="phantom"></div>
        -->

      </section>
    {{end}}
    </div>
{{end}}

*/}}
