
{{define "private-mark-graph"}}
    {{if eq (index .Info "private") "true"}}<div class="private-graph"></div>{{end}}
{{end}}

{{define "graph-date"}}
<header class="graph-date">
            {{template "private-mark-graph" .E}}
    <a class="" href="{{.E.Perma .L}}">
        {{.E.Date.Format "2<span class=\"ddot\">.</span> 1<span class=\"ddot\">.</span>"}}
    </a>
</header>
{{end}}


{{define "prev-next-year"}}
    <div class="prev-next-year graph-tip">
        {{with .Next}}
            &larr; <a href="{{.Perma $.Head.Lang}}">{{.Title $.Head.Lang}}</a>
        {{else}}
            &nbsp;
        {{end}}
        {{with .Prev}}
            <span class="right">
            <a href="{{.Perma $.Head.Lang}}">{{.Title $.Head.Lang}}</a>
            &rarr; 
            </span>
        {{end}}
    </div>
{{end}}

{{/*


{{define "graph-full-tip"}}
<div class="more-tip">
 (var "graph-full" .Lang)
</div>
{{end}}


*/}}
