
{{define "private-mark-graph"}}
    {{if .Info.Private}}<div class="private-graph"></div>{{end}}
{{end}}

{{define "graph-date"}}
<header class="graph-date column">
    <a href="{{.E.Perma .L}}">
        {{.E.Date.Format "2<span class=\"ddot\">.</span> 1<span class=\"ddot\">.</span>"}}
    </a>
    {{if .E.Info.Private}}<span class="private-inline"></span>{{end}}
</header>
{{end}}


{{define "prev-next-year"}}
    <div class="prev-next-year graph-tip">
        <!--
        {{with .Prev}}
            &larr; <a href="{{.Perma $.Meta.Lang}}">{{.Date.Format "2006"}}, {{.Title $.Meta.Lang}}</a>
        {{else}}
            &nbsp;
        {{end}}
        -->
        {{with .Next}}
            <span class="right">
            <a href="{{.Perma $.Meta.Lang}}"><span class="next-year">{{.Date.Format "2006"}},</span> {{.Title $.Meta.Lang}}</a>
            &rarr; 
            </span>
        {{end}}
    </div>
{{end}}

{{/*


{{define "graph-full-tip"}}
<div class="more-tip">
 (var "graph-full" .Lang)
</div>
{{end}}


*/}}
