{{define "graph-single"}}

{{template "head" .Head}}
{{template "top" .}}

    <div id="swipe-bar-bg">
        <div id="swipe-bar">
        </div>
    </div>

    <div id="part">
    {{template "graph-single-part" .}}
    </div>

    <div id="nav-tip">
        {{template "tip" var "navigate" .Head.Lang}}
    </div>

    <div id="preload">
    </div>
    <script>
    var pageVars = {
        type   : "graph-el",
        nav : {
            parent : "{{.Entry.Parent.Perma .Head.Lang}}",
            next   : "{{if .Next}}{{.Next.Perma .Head.Lang}}{{end}}",
            prev   : "{{if .Prev}}{{.Prev.Perma .Head.Lang}}{{end}}"
        }
    };
    </script>

    {{template "bot" .Head}}

{{end}}}

{{define "graph-single-part"}}
    {{template "subnav" (snav .Entry.Parent 0 .Head.Lang)}}

    {{$eL := eL .Entry .Head.Lang}}

    <div id="body">
        <div class="title-bar">
            <span class="graph-date">
                {{.Entry.Date.Format "2. 1."}}
            </span>
            <span class="el-title{{if eq (.Entry.Info.Title .Head.Lang) ""}} acr-title{{end}}">
                {{.Entry.Title .Head.Lang}}
            </span>
        </div>
        {{if eq .Entry.Type "text"}}
        <div class="el-text">
            {{template "entry" $eL}}
        </div>
        {{else if eq .Entry.Type "set"}}
            {{template "graph-set-child" $eL}}
        {{else}}
        {{template "entry" $eL}}
        {{end}}
    </div>

  {{template "prev-next" .}}


  {{if isLocal}}
  <div class="margin">
  {{template "edit-link" $eL}}
  </div>
  {{end}}

{{end}}


  {{define "prev-next"}}
    <nav id="prev-next" class="prev-next-nav">
        <div>
            {{with .Prev}}
            &larr; <a href="{{.Perma $.Head.Lang}}">{{.Title $.Head.Lang}}</a>
            {{else}}
            &nbsp;
            {{end}}

            {{with .Next}}
            <span class="right">
                <a href="{{.Perma $.Head.Lang}}">{{.Title $.Head.Lang}}</a>
                &rarr;
            </span>
            {{end}}
        </div>
        <!--
          <div class="prev-next-tip">
          {{var "navigate" $.Head.Lang}}
          </div>
        -->
    </nav>
  {{end}}
{{/*

{{define "el-date"}}
  <span class="el-date-day">
  {{.El.Date.Format "2"}}
  </span>
  <a href="{{.El.File.Hold.Permalink .Lang}}">
  {{.El.Date.Format "Jan 2006"}}
  </a>
{{end}}

{{define "image-description"}}
    {{$type := elType .El}}
    {{$lang := .Lang}}
    {{if eq $type "image"}}
    {{with .El.Info.Alt .Lang}}
      {{.}}
    {{end}}
    {{end}}
{{end}}

  */}}
