{{define "bot"}}

<footer id="bot">
  {{template "impressum" .}}
</footer>

{{template "javascript" .}}


</body> 
{{end}}

{{define "impressum"}}
<nav class="bot-nav margin">
    {{if eq .Lang "de"}}
        <a class="bnavl" rel="nofollow" href="/impressum/">Impressum</a>
    {{else}}
        <a class="bnavl" rel="nofollow" href="/legal/">Legal</a>
    {{end}}
    {{if isLocal}}
        {{if eq .Lang "de"}}
        <a class="bnavl" rel="nofollow" href="/datenschutz/">Datenschutz</a>
        {{else}}
        <a class="bnavl" rel="nofollow" href="/privacy/">Privacy</a>
        {{end}}
    {{end}}
    {{if eq .Lang "de"}}
        {{if .Dark}}
        <a class="bnavl" rel="nofollow" href="/disable-darkmode/">Tagmodus</a>
        {{else}}
        <a class="bnavl" rel="nofollow" href="/enable-darkmode/">Nachtmodus</a>
        {{end}}
    {{else}}
        {{if .Dark}}
        <a class="bnavl" rel="nofollow" href="/disable-darkmode/">Day mode</a>
        {{else}}
        <a class="bnavl" rel="nofollow" href="/enable-darkmode/">Night mode</a>
        {{end}}
    {{end}}

</nav>
{{end}}

{{define "javascript"}}
    <script src="{{polyfillPath}}"></script>
    <script src="/js/bundle.js?v={{varRaw "jsmodtime"}}"></script>
{{end}}

