{{define "head" -}}
<!DOCTYPE html>{{$lang := .Lang}}
<html lang="{{$lang}}" class="no-js">
<title>{{.PageTitle}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="{{if .Dark}}#000000{{else}}#ffffff{{end}}">

{{with .Schema}}
{{template "schema" .}}
{{end}}

{{with .Desc}}
<meta name="description" content="{{.}}">
{{end}}

{{if .DontIndex}}
<meta name="robots" content="noindex, follow">
{{end}}

{{template "icons"}}
<link rel="manifest" href="/manifest.json">

{{range $i, $l := .Langs}}
    {{with $l}}
        <link rel="alternate" hreflang="{{.Name}}" href="{{.Href}}" />
    {{end}}
    {{if eq $i 1}}
    <link rel="alternate" hreflang="x-default" href="{{.Href}}" />
    {{end}}
{{end}}

<style>{{inlineFile "css"}}</style>
<script>document.documentElement.classList.remove("no-js")</script>
{{end}}

{{define "icons"}}
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/icon-32.png?v=0">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/icon-16.png?v=0">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/icon-apple.png?v=0">
{{end}}
