{{define "subnav"}}
    <nav id="subnav">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnav-fixed"}}
    <nav id="subnav-fixed" class="hide">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnavs"}}
    <div class="margin subnavs {{.Hold.Section}}-subnavs">
        <div class="subnav__steps">
            {{template "subnav-recursive" (objArg .Hold .Lang)}}
        </div>
        <div class="subnav__last">
            {{template "subnav-row" (snavArg .Hold .Current .Lang)}}
        </div>
    </div>
{{end}}

{{define "subnav-recursive"}}
    {{$lang := .Lang}}
    {{$current := .Obj.Info.Label $lang}}
    {{with .Obj.Mother}}
        {{if .Mother}}
            {{template "subnav-recursive" (objArg . $lang)}}
        {{end}}
        {{template "subnav-row" (snavArg . $current $lang)}}
    {{end}}
{{end}}

// TODO: need to refactor this

{{define "subnav-row"}}
    {{$lang := .Lang}}
    {{$current := .Current}}
    {{$hold := .Hold}}
    {{with .Hold.Subnav}}
    <div class="subnav">
        {{with .Label}}
          {{index . $lang}}:&ensp;
        {{end}}

        {{range $i, $item := .Items -}}
            {{- $isMonth := and (eq 1 .File.Hold.Depth) (eq "graph" .Section) -}}
            {{if and (eq $i 0) $isMonth}}
            <a class="top-link" href="#top">
            &uarr;
            </a>
            {{- end -}}

            {{- with $item -}}
                {{- $title := .Info.Label $lang -}}
                {{if eq $item.Section "graph"}}
                    {{- if eq $title "" -}}
                          {{- $title = .Date.Format "06" -}}
                    {{- end -}}
                {{- end -}}

                {{- if $title -}}
                    {{- " "}}<a {{if eq $current $title}}class="active"{{end}}
                    {{if $isMonth}}data-id={{.Date.Format "01"}}{{end}}
                    href="{{.Permalink $lang}}">{{$title}}</a>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </div>
    {{end}}
{{end}}

