{{define "subnav"}}
    <nav id="subnav">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnav-fixed"}}
    <nav id="subnav-fixed" class="hide">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnavs"}}
    <div class="subnavs {{.Tree.Section}}-subnavs">
        <div class="subnav__steps">
            {{template "subnav-recursive" (eL .Tree .Lang)}}
        </div>
        <div class="subnav__last">
            {{template "subnav-row" (snav .Tree .Active .Lang)}}
        </div>
    </div>
{{end}}

{{define "subnav-recursive"}}
    {{$active := .E.Id}}
    {{with .E.Parent}}
        {{if .Parent}}
            {{template "subnav-recursive" (eL . $.L)}}
        {{end}}
        {{template "subnav-row" (snav . $active $.L)}}
    {{end}}
{{end}}

// TODO: need to refactor this

{{define "subnav-row"}}
    <div class="subnav">
        {{if gt (len .NavTrees) 1}}
          {{if .IsYear}}
          <span class="year-label">{{.YearLabel $.L}}:</span>
          {{end}}
          {{range $i, $t := .NavTrees -}}
          {{$isActive := eq $.Active $t.Id}}
          <a {{if $isActive}}class="active" {{end}}href="{{$t.Perma $.L}}">{{$t.Label $.L}}</a>
          {{- end -}}
        {{end}}
        {{if .HasDays}}
          {{range $i, $e := .Tree.Entries.Reverse}}
            {{if not $i}}
            <span class="year-label">Days:</span>
            {{end}}
            <a href="{{$e.Perma $.L}}">{{$e.Date.Format "02"}}</a>
          {{end}}
        {{end}}
    </div>
{{end}}


{{/*
        {{with .Label}}
          {{index . $lang}}:&ensp;
        {{end}}


            {{- $isMonth := and (eq 1 .File.Tree.Level) (eq "graph" .Section) -}}
            {{if and (eq $i 0) $isMonth}}
            <a class="top-link" href="#top">
            &uarr;
            </a>
            {{- end -}}

            {{- with $item -}}
                {{- $title := .Info.Label $lang -}}
                {{if eq $item.Section "graph"}}
                    {{- if eq $title "" -}}
                          {{- $title = .Date.Format "06" -}}
                    {{- end -}}
                {{- end -}}

                {{- if $title -}}



                {{- end -}}
            {{- end -}}

*/}}
