{{define "subnav"}}
    <nav id="subnav">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnav-fixed"}}
    <nav id="subnav-fixed" class="hide">
        {{template "subnavs" .}}
    </nav>
{{end}}

{{define "subnavs"}}
    <div class="subnavs {{.Tree.Section}}-subnavs">
        <div class="subnav__steps">
            {{template "subnav-recursive" (eL .Tree .Lang)}}
        </div>
        <div class="subnav__last">
            {{template "subnav-row" (snavArg .Tree .Active .Lang)}}
        </div>
    </div>
{{end}}

{{define "subnav-recursive"}}
    {{$active := .E.Id}}
    {{with .E.Parent}}
        {{if .Parent}}
            {{template "subnav-recursive" (eL . $.L)}}
        {{end}}
        {{template "subnav-row" (snavArg . $active $.L)}}
    {{end}}
{{end}}

// TODO: need to refactor this

{{define "subnav-row"}}
    <div class="subnav">
        {{range $i, $t := .Tree.Trees -}}
        {{$isActive := eq $.Active $t.Id}}
        <a {{if $isActive}}class="active" {{end}}href="{{$t.Perma $.L}}">{{$t.Title $.L}}</a>
        {{- end -}}
    </div>
{{end}}


{{/*
        {{with .Label}}
          {{index . $lang}}:&ensp;
        {{end}}


            {{- $isMonth := and (eq 1 .File.Tree.Level) (eq "graph" .Section) -}}
            {{if and (eq $i 0) $isMonth}}
            <a class="top-link" href="#top">
            &uarr;
            </a>
            {{- end -}}

            {{- with $item -}}
                {{- $title := .Info.Label $lang -}}
                {{if eq $item.Section "graph"}}
                    {{- if eq $title "" -}}
                          {{- $title = .Date.Format "06" -}}
                    {{- end -}}
                {{- end -}}

                {{- if $title -}}



                {{- end -}}
            {{- end -}}

*/}}
