{{define "top"}}
<body data-size="{{.Head.O.Size.Active}}"
      data-colors="{{.Head.O.Colors.Active}}"
      >
<main class="margin">
<header id="top">
{{template "lang-nav" .Head}}
{{template "logo" .}}
{{template "nav" .Head.Nav}}
</header>

{{end}}


{{define "logo"}}
<div id="logo">
    <a href="/">{{inlineFile "logo"}}</a>
</div>
{{end}}


{{define "lang-nav"}}
<nav class="top-nav">
  {{$lang := .Lang}}
  <nav id="langs">
  {{range .Langs}}
    <a {{if eq .Name $lang}}class="active"{{end}} href="{{.Href}}">{{langName .Name}}</a>
  {{end}}
  </nav>
  <nav id="options">
      <a class="option" href="{{.O.Colors.NextLink}}" >◧</a>
      {{range .O.Size.List}}
      <a class="{{if .IsActive}} active{{end}}" href={{.Href}}>{{.Title}}</a>
      {{end}}
      <!--
      <a id="size-switch-link"
         {{/*
          href="{{.SwitchSizeLink .Lang}}"
          title="{{.SwitchSizeTitle .Lang}}"
          */}}
          >T<span class="small-t">T</span></a>
      -->
  </nav>
</nav>
{{end}}

{{define "nav"}}
<nav id="nav">
    {{range .}}
    <a {{if .IsActive}}class="active"{{end}} href="{{.Href}}">{{.Name}}</a>
    {{end}}
</nav>
{{end}}
