{{define "top"}}
<body data-size="{{.Meta.O.Size.Active}}"
      data-colors="{{.Meta.O.Colors.Active}}"
      >
<main class="margin">
<header id="top">
{{template "lang-nav" .Meta}}
{{template "logo" .}}
{{template "nav" .Meta.Nav}}
</header>

{{end}}


{{define "logo"}}
<div id="logo">
    <a class="desktop" href="/">{{inlineFile "logo-desk"}}</a>
    <a class="mobile" href="/">{{inlineFile "logo-mobile"}}</a>
</div>
{{end}}


{{define "lang-nav"}}
<nav class="top-nav">
  {{$lang := .Lang}}
  <nav id="langs">
  {{range .Langs}}
    <a {{if eq .Name $lang}}class="active"{{end}} href="{{.Href}}">{{langName .Name}}</a>
  {{end}}
  </nav>
  <nav id="options">
    {{if not .Auth.Subscriber}}
    <a href="/subscribe" class="subscribe-top">Subscribe</a>
    {{end}}
    {{if not .Auth.SignedIn}}
    <a href="/login">Login</a>
    {{end}}
    <a class="option" href="{{.O.Colors.NextLink}}"
                      data-next="{{.O.Colors.CurrentLink}}" >◧</a>
    <!--<a class="option" ref=/opt/colors/dark data-next=/opt/colors/light><svg style="vertical-align:middle;height:20px;display:none" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg></a>-->
    {{if .Auth.SignedIn}}
    <a href="/account">Account</a>
    {{end}}
    <!--
    <a href="/profile"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-zjt8k" style="height:20px;vertical-align:middle;" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="PersonIcon" tabindex="-1" title="Person"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path></svg></a>
    -->
    <!--
    <a class="option" ><svg style="vertical-align:middle;height:14px" viewBox="0 0 24 24" data-testid="WbSunnyIcon"><path d="m6.76 4.84-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7 1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91 1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"></path></svg></a>
    -->
    
      {{/*
      {{range .O.Size.List}}
      <a class="{{if .IsActive}} active{{end}}" href={{.Href}}>{{.Title}}</a>
      {{end}}
      */}}
  </nav>
</nav>
{{end}}

{{define "nav"}}
<nav id="nav">
    {{range .}}
    <a {{if .IsActive}}class="active"{{end}} href="{{.Href}}">{{.Name}}</a>
    {{end}}
</nav>
{{end}}
