{{define "about"}}
{{template "head" .Meta}}
{{template "top" .}}

{{template "subnav" (snavArg .Hold "" .Meta.Lang)}}

<main class="margin">

    {{$isMain := eq (.Hold.Name "en") "about"}}

        {{if $isMain}}
    <div class="section-title-box {{if $isMain}}indecs-title{{end}}">
        <h1 class="section-title">
        {{if eq .Meta.Lang "de"}}
        Über
        {{else}}
        About
        {{end}}
        <h1>
    </div>
        {{else}}
    <h1 class="about-title">
        {{.Hold.Info.Title .Meta.Lang}}
    </h1>
        {{end}}

    {{$lang := .Meta.Lang}}
    {{if $isMain}}
    <div class="cols">
    <div class="col">
    {{end}}
    {{range .Hold.Els}}
        {{template "about-el" (elArg . false $lang)}}
    {{end}}
    {{if $isMain}}</div>{{end}}{{if $isMain}}<div class="col">
    {{template "chamomile" .Meta.Lang}}
    </div>
    </div>
    {{end}}

    {{if eq 0 (len .Hold.Els)}}
    <div class="indecs-el">
      –
    </div>
    {{end}}

    {{template "edit-link-hold" (holdArg .Hold false .Meta.Lang)}}

</main>

{{template "bot" .Meta}}
{{end}}

{{define "about-el"}}
    <article class="indecs-el">
        {{template "el" .}}
    </article>
{{end}}


