
{{define "entry" -}}

    {{$type := .Entry.Type}}

    {{if eq $type "text"}}
            {{template "text" .}}
    {{else if eq $type "image"}}
            {{template "image" .}}
    {{else if eq $type "set"}}
            {{template "set" .}}
    {{else if eq $type "audio"}}
            {{template "audio" .}}
    {{else if eq $type "video"}}
            {{template "video" .}}
    {{else if eq $type "hold"}}
            {{template "set" .}}
    {{else if eq $type "html"}}
            {{template "html" .}}
    {{else -}}
        Exception: Unknown entry type. {{.E}}
    {{end}}

{{end}}


<!-- text -->
    
{{define "text"}}
    {{.E.Text .L}}
{{end}}

{{define "html"}}
{{index .Html .Lang}}
{{end}}

{{define "el-standalone"}}
{{$type := .Type}}

{{if eq .El.File.Page "index"}}
<div class="margin">
<div class="title-box">
<h1 class="title">
    <a href="{{.El.Permalink}}">
{{.El.Info.Title .Lang}}
    </a>
</h1>
<span class="date">
    {{.El.Date.Format "Jan 2, 2006"}}
</span>
</div>
</div>
{{end}}

{{template "el" .}}

{{end}}



