
{{define "entry" -}}

    {{$type := .Entry.Type}}

    {{if eq $type "text"}}
            {{template "text" .}}
    {{else if eq $type "image"}}
            {{template "image" .}}
    {{else if eq $type "set"}}
            {{template "set" .}}
    {{else if eq $type "audio"}}
            {{template "audio" .}}
    {{else if eq $type "video"}}
            {{template "video" .}}
    {{else if eq $type "tree"}}
            {{template "set" .}}
    {{else if eq $type "html"}}
            {{template "html" .}}
    {{else -}}
        Exception: Unknown entry type. {{.E}}
    {{end}}

{{end}}


<!-- text -->
    
{{define "text"}}
{{$style := index .E.Info "style"}}
<div class="{{.E.Info.TextStyle}}">
    {{with index .E.Script.LangMap .L}}
    {{.}}
    {{else}}
    <em>This text has not been translated.</em>
    {{end}}
</div>
{{end}}

{{define "html"}}
{{index .E.Html .Lang}}
{{end}}

{{define "el-standalone"}}
{{$type := .Type}}

{{if eq .El.File.Page "indecs"}}
<div class="margin">
<div class="title-box">
<h1 class="title">
    <a href="{{.El.Permalink}}">
{{.El.Info.Title .Lang}}
    </a>
</h1>
<span class="date">
    {{.El.Date.Format "Jan 2, 2006"}}
</span>
</div>
</div>
{{end}}

{{template "el" .}}

{{end}}



