{{define "image"}}
  {{$lang := .Lang}}

  <figure {{with .E.Info.position}}class="pos-{{.}}"{{end}}>

    {{$alt := .E.Info.Alt .L}}
    <picture class="img {{with .E.Info.size}}{{.}}{{end}}">
      <source
        height="{{.E.Dims.Height}}" width="{{.E.Dims.Width}}"
        srcset="{{.E.SrcSet 1280 .L}},
                {{.E.SrcSet 1600 .L}},
                {{.E.SrcSet 1920 .L}},
                {{.E.SrcSet 2560 .L}},
                {{.E.SrcSet 3200 .L}}"
        >
        <img loading="lazy" {{with $alt}}alt="{{.}}"{{end}} src="{{.E.ImagePath 1280 .L}}">
    </picture>

    {{if eq .E.Section "graph"}}
    {{with .E.Info.Caption .L}}
        <figcaption class="caption">
            {{.}}
        </figcaption>
    {{end}}
    {{end}}

  </figure>

{{end}}

{{define "image-alt"}}

{{with .E.Info }}
{{with .Alt $.L}}
<div class="alt-text">
    <a href="/alt-text/" target="_blank"rel="nofollow" class="altl alt-sign">
        †
    </a>
    {{- .}}
</div>
{{end}}
{{end}}

{{end}}

{{define "photo" -}}
<figure>
  <img srcset="{{.PhotoName "1280"}} 1280w, {{.PhotoName "1600"}} 1550w, {{.PhotoName "1920"}} 1920w, {{.PhotoName "2560"}} 2560w, {{.PhotoName "3200"}} 3200w" src="{{.PhotoName "1280"}}">
</figure>
{{- end}}


{{define "video-legacy"}}
<!--
<link rel="stylesheet" href="{{varRaw "video-main.css"}}">
<script type="module" src="{{varRaw "video-main.js"}}"></script>
-->
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<div class="video-container">
<div id="video-player">
  <video preload="metadata" loop controls type="video/mp4"
  {{if eq .E.Section "reels"}}poster="{{.E.Parent.Cover.ImagePath 1280 .L}}" autoplay {{end}}>
    {{range .E.Sources}}
    <source src="{{$.E.FilesPath $.L}}/{{.Path}}" size="{{.Resolution}}" type="video/mp4">
    {{end}}
    {{range .E.Captions}}
    <track label="{{langName .}}" srclang="{{.}}" kind="captions"
    src="{{$.E.CaptionPath .}}"{{if $.E.CaptionsOn . $.L}} default{{end}}>
    {{end}}
</video>
</div>
</div>
{{end}}



{{define "audio"}}
<audio class="audio" src="{{.E.FilePath .Lang}}" {{if eq .E.Section "reels"}}autoplay="true"{{end}} controls>
    {{range .E.Captions}}
    <track label="{{langName .}}" srclang="{{.}}" kind="captions"
    src="{{$.E.CaptionPath .}}" {{if eq . $.L}} default{{end}}>
    {{end}}
</audio>
  {{if .E.Transcript.Is}}
  {{with .E.Transcript}}

  <div class="captions"></div>
  <!--
  <div class="transcript">
    <h3>{{var "transcript" $.L}}</h3>
    <div class="{{$.E.Info.TextStyle}}">
      {{index .Langs $.L}}
    </div>
    {{template "footnotes" (nL .Footnotes $.L)}}
  </div>
  {{end}}
  {{end}}
  -->
{{end}}

{{define "audio-vtt"}}
{{$lang := "de"}}
video:<video controls style="background:black">
    <source  src="{{.El.Location .Lang}}" type="audio/mpeg">
    <track label="Deutsch" kind="descriptions" srclang="de"
        src="/indecs/welt/pieta-341ec4f2/files/vtt/pieta-de.vtt">
    <track label="English" kind="captions" srclang="en"
        src="/indecs/welt/pieta-341ec4f2/files/vtt/pieta-en.vtt" default>
</video>
<br>
{{end}}
