
{{define "media-query-portrait"}}(orientation: landscape) 50vw, 100vw{{end}}
{{define "media-query-landscape-old"}}((orientation: landscape) and (max-height: {{.Height 1280}}px)) {{.Width 1280}}px, 100vw{{end}}
{{define "media-query-landscape"}}{{end}}

{{define "image"}}
  {{$lang := .Lang}}

  <figure {{with .E.Info.position}}class="pos-{{.}}"{{end}}>

    {{$alt := .E.Info.Alt .L}}

    <img
      alt="{{$alt}}"
      {{with .E.Info.size}}class="{{.}}"{{end}}
      src="{{.E.ImagePath 1280 .L}}"
      srcset="{{.E.SrcSet 1280 .L}}, {{.E.SrcSet 1600 .L}}, {{.E.SrcSet 1920 .L}}, {{.E.SrcSet 2560 .L}}, {{.E.SrcSet 3200 .L}}">

    {{if eq .E.Section "graph"}}
    {{with .E.Info.Caption .L}}
        <figcaption class="caption">
            {{.}}
        </figcaption>
    {{end}}
    {{end}}

  </figure>

{{end}}

{{define "image-alt"}}

{{with .E.Info }}
{{with .Alt $.L}}
<div class="alt-text">
    <a href="/alt-text/" target="_blank"rel="nofollow" class="altl alt-sign">
        †
    </a>
    {{- .}}
</div>
{{end}}
{{end}}

{{end}}

{{define "photo" -}}
<figure>
  <img srcset="{{.PhotoName "1280"}} 1280w, {{.PhotoName "1600"}} 1550w, {{.PhotoName "1920"}} 1920w, {{.PhotoName "2560"}} 2560w, {{.PhotoName "3200"}} 3200w" src="{{.PhotoName "1280"}}">
</figure>
{{- end}}

{{define "image-old"}}
{{$lang := .Lang}}
{{with .El}}
<figure>
{{if eq .Ext ".svg"}}{{minifySvg (printf "%s" .Content)}}
{{else if eq .Ext ".jpg"}}
    <img {{with .Info.Alt $lang}}alt="{{.}}"{{end}}
 sizes="{{if eq .Orientation "landscape"}}{{template "media-query-landscape" .}}{{else}}{{template "media-query-portrait"}}{{end}}"
 srcset="{{.SrcSet 1280}}, {{.SrcSet 1600}}, {{.SrcSet 1920}}, {{.SrcSet 2560}}" src="{{.PhotoName 1280}}">
{{$date := .DateFormat "02.01.2006"}}
{{if eq (.Page $lang) "graph"}}
{{with .Info }}
<figcaption class="margin caption">
    {{with .Title $lang}}<h1 class="image-title">{{.}}</h1>{{end}}
    <div class="alt-text">{{.Alt $lang}}</div>
    {{$date}}
</figcaption>
{{end}}
{{end}}
{{else}}
<img src="{{.Path}}">
{{end}}
</figure>
{{end}}
{{end}}

{{define "video"}}
<figure>
  <video preload="metadata" loop controls {{if eq .E.Section "kine"}}autoplay
    poster={{.E.Parent.Cover.ImagePath 1600 .L}}{{end}}>
    {{if .E.HLS}}
    <source src="{{.E.HLSPath .Lang}}" type="application/x-mpegURL">
    {{end}}
    <source src="{{.E.FilePath .Lang}}" type="video/mp4">
    {{range .E.Subtitles}}
    <track label="{{langName .}}" srclang="{{.}}" kind="subtitles"
    src="{{$.E.SubtitlePath .}}"{{if $.E.SubtitlesOn . $.L}} default{{end}}>
    {{end}}
</video>
</figure>
{{end}}



{{define "audio"}}
<audio class="audio" src="{{.E.FilePath .Lang}}" controls>
    {{range .E.Subtitles}}
    <track label="{{langName .}}" srclang="{{.}}" kind="captions"
    src="{{.E.CaptionPath .}}"{{if and (ne $.L "de") (eq $.L .)}} default{{end}}>
    {{end}}
</audio>
  {{with .E.Transcript}}

  <div class="transcript">
    <h3>{{var "transcript" $.L}}</h3>
    <div class="{{$.E.Info.TextStyle}}">
      {{index .Langs $.L}}
    </div>
    {{template "footnotes" (nL .Footnotes $.L)}}
  </div>
  {{end}}
{{end}}

{{define "audio-vtt"}}
{{$lang := "de"}}
video:<video controls style="background:black">
    <source  src="{{.El.Location .Lang}}" type="audio/mpeg">
    <track label="Deutsch" kind="descriptions" srclang="de"
        src="/index/welt/pieta-341ec4f2/files/vtt/pieta-de.vtt">
    <track label="English" kind="captions" srclang="en"
        src="/index/welt/pieta-341ec4f2/files/vtt/pieta-en.vtt" default>
</video>
<br>
{{end}}
