
{{define "set"}}

{{$lang := .Lang}}

<div class="set">
{{range $i, $e := .E.Entries}}
    {{template "set-entry" (eL $e $.L)}}
{{end}}
</div>
{{end}}

{{define "set-entry"}}

    <article class="indecs-el">
        <div class="indecs-date-top">
        {{template "indecs-date" .}}
        </div>
        <div id="{{normalize (.E.Title .L)}}">
        {{template "entry" .}}
        </div>
        <div class="indecs-date-bot">
            {{template "indecs-date" .}}
        </div>
      {{template "edit-link" .}}
    </article>

{{end}}


