{{define "index-main"}}
{{template "head" .Head}}
{{template "top" .}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{.Tree.Title .Head.Lang}}
        </h1>
        <h4 class="section-lead">
            {{var "index-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{template "index-entries" (eL .Tree .Head.Lang)}}



    {{template "bot" .Head}}
{{end}}


{{define "index-page"}}
{{template "head" .Head}}
{{template "top" .}}

{{/* TODO: isArticle */}}

{{template "subnav" (snav .Tree 0 .Head.Lang)}}

<h1 class="hold-title l{{.Tree.Level}}">
        {{if eq .Tree.Level 1}}
        <span class="fleuron">❧</span>
        {{end}}
        {{.Tree.Title .Head.Lang}}
            {{/*.Hold.Info.Field "title-hyph" .Head.Lang*/}}
        </h1>

        {{template "index-entries" (eL .Tree .Head.Lang)}}

{{template "bot" .Head}}
{{end}}



{{define "index-entries"}}
    {{range .E.Entries}}
        {{block "index-entry" (eL . $.Lang)}}
            <article class="index-entry">
                <div class="index-date-top">
                {{template "index-date" .}}
                </div>
                <div id="{{normalize (.E.Title .Lang)}}">
                {{template "entry" .}}
                </div>
                <div class="index-date-bot">
                    {{template "index-date" .}}
                </div>
              {{template "edit-link" .}}
            </article>
        {{end}}
    {{end}}
    {{if eq 0 (len .E.Entries)}}
        <article class="index-entry">
          –
        </article>
    {{end}}
{{end}}

{{define "index-date-link"}}
    {{$year := .E.Date.Format "06"}}
    <a class="index-datel" href="{{.E.Perma .Lang}}">
        {{.E.Date.Format "2. 1."}}
        {{- with ne $year "20"}}
         {{$year}}
        {{end}}
    </a>
{{end}}

{{define "index-date"}}
    <div class="index-date">
      {{template "index-date-link" .}}
    </div>
{{end}}


{{define "index-main-wait"}}
        <section class="index-map">
            <h2 id="map" class="subh subtitle">
              <a href="#map">{{var "map" .Head.Lang}}</a>
            </h2>

            <div class="center">
            {{var "indexmap" .Head.Lang}}
            </div>
            <div style="text-align:right;">
                <small>{{var "map-info" .Head.Lang}}</small>
            </div>
        </section>

        <section id="serial">
            <h2 class="subh subtitle">
              <a href="/index/serial/">Serial</a>
            </h2>

            {{range .Recents.Offset 0 35}}
            {{/*template "index-el-front" elArg . false $lang*/}}
            {{end}}

            <div class="more-tip">
                {{var "serial-link" .Head.Lang}}
            </div>
        </section>

        {{end}}
