{{define "map"}} 
digraph "" {
nodesep=4;
ratio=expand;
#ratio=fill;
#size="8,12";
overlap=false;
splines=true;
graph [overlap=false tooltip="" edgetooltip=""];
node [fontname="eb garamond, times, serif" fontsize=14 overlap=false];
edge [arrowhead=none len=10 minlen=10 sep=1 tooltip=""];
{{nodeName .Tree.Id}} [label="Index" tooltip="" shape=plaintext fontname="nimbus sans l" fontsize=16]
{{template "print-holds" (snav .Tree .Tree.Id .Lang)}}
}
{{end}}

{{define "print-holds" -}}
{{$parent := nodeName $.Active}}
{{- range .Tree.Trees}}
      {{- $t := nodeName .Id -}}
      {{$t}} [label="{{.Title $.L}}" tooltip="" href="{{.Perma $.L}}" shape=plaintext]
      {{$parent}} -> {{$t}};
      {{- template "print-holds" (snav . .Id $.L) -}}
{{end}}
{{- end}}

