#bot {
    width: calc(100% - .5rem);
    position: absolute;
    bottom: 0;
}

.bot-nav {
    padding-bottom:.375rem;
}

.bnavl {
    color: @inactive-gray;
    font-family: @cmut;
    font-size: 1rem;
    margin-right:1rem;
}

.dark .bnavl {
    color: @inactive-gray;
}

.bnavl:hover {
    color: #000;
    border:0;
}

.dark .bnavl:hover {
    color:@dark-white;
}

