// structure
//
.subnavs {
    font-size: var(--fontsize-third);
    margin-top:.75rem;
}

.subnav {
    margin-bottom:.375rem;
}

.graph-subnavs .subnav {
    white-space:nowrap;
    overflow:auto;
}

#subnav-fixed {
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
}

#subnav-fixed .subnavs {
    margin-top:.5rem;
}

#subnav-fixed .subnav__steps {
    display:none;
}

// top link

.top-link {
    font-weight:bold;
    margin-left:-2rem;
    position:absolute;
    display:none;
}

#subnav-fixed .top-link {
    display:inline-block;
}

// links

.subnav a {
    color:var(--color-inactive);
    margin-right:.5rem;
}

.subnav:last-child a,
.subnav .active {
    color:var(--color-fg);
}

.subnav:last-child .active {
    color: var(--color-red-second);
}

.subnav__last .subnav a {
    color: var(--color-link);
}

.subnav a.top-link {
    color:var(--color-fg);
}
