// structure
//
.subnavs {
    font-size: var(--fontsize-third);
    margin:.625rem 0 0;
    line-height:2rem;
}

.subnav {
    margin-left:-.375rem;
}

.graphnav .subnav {
    white-space:nowrap;
    overflow:auto;
}

#subnav-fixed {
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
}

#subnav-fixed .subnavs {
    margin-top:.5rem;
}

#subnav-fixed .subnav__steps {
    display:none;
}

// top link

.top-link {
    font-weight:bold;
    margin-left:-2rem;
    position:absolute;
    display:none;
}

#subnav-fixed .top-link {
    display:inline-block;
}

// links

.kinenav .subnav a.kinemonth,
.subnav a {
    color:var(--color-inactive);
    padding:.375rem .375rem;
    vertical-align:middle;
}

#subnav .subnav a:hover {
    border:0;
    background:#fffa96;
}

.kinenav .subnav a.kinemonth.active,
.subnav:last-child a,
.subnav .active {
    color:var(--color-fg);
}

.kinenav .subnav a.active,
.subnav:last-child .active {
    color: var(--color-red-second);
}

.subnav__last .subnav a {
    color: var(--color-link);
}

.subnav a.top-link {
    color:var(--color-fg);
}

.monthnav {
    font-feature-settings: 'lnum' on;
}
