
// top nav

.top-nav {
    display:grid;
    grid-template-columns: 1fr 9fr;
    padding-top:.25rem;
    //font-size: var(--fontsize-base);
}

.top-nav a {
    margin-left:.375rem;
}

#langs .subscribe-top,
#options .subscribe-top {
    font-family:var(--fontfamily-sans);
    font-size:.8rem;
    vertical-align:baseline;
    //color:var(--color-red-second);
    //color:white;
    //background: blue;
    //background:#303086;
    color:#303086;
    //background:hsl(216, 100%, 23%);
    //color:white;
    font-weight:500;
    padding:4px 6px;
    border-radius:2px;
}

#langs {
    /*
    position:fixed;
    right:10%;
    */
    text-align: right;
}

#langs svg {
}

#menu:hover .chevron,
#menu:hover a {
    opacity: 1;
}

#menu:hover .lang-symbol,
#menu:hover .trigger {
    opacity: .3;
}

#menu a, .trigger {
    font-family: var(--fontfamily-sans);
    font-weight:450;
    font-size: 1.05rem;
    vertical-align: middle;
    //padding:2px 6px;
}

#menu a {
    opacity: 0;
    //transform: background 0.1s;
    color:var(--color-fg-true);
    color:var(--color-link);
    border-bottom: 2px transparent solid;
}

#menu a:hover {
    //border-radius:4px;
    //background:#fffa96;
    border-bottom: 2px var(--color-fg-true) solid;
    border-color:var(--color-link);
    //border:0;
}


#menu svg {
    vertical-align: middle;
}
.chevron svg {
    margin-left:.4rem;
    margin-right:.2rem;
    height:1.5rem;
    width:auto;
}


.trigger {
    transition: opacity 0,3s;
    color: var(--color-red-second);
    background:transparent;
    border:0;
    padding-left:2px;
    padding-right:2px;
    //border-bottom:2px var(--color-red-second) solid;
}

.lang-symbol svg {
    height:0.9rem;
}


#menu a.active:hover {
    //background:transparent;
}

.chevron {
    opacity: 0;
}

#menu a.active {
    display: none;
    //border-bottom:2px #d00c4d solid;
    color:var(--color-fg-true);
    color:var(--color-red-second);
}

#langs a:hover {
}


#options a {
    font-size:1.3rem;
    vertical-align:middle;
    color:var(--color-fg-true);
}

#options a:hover {
    color:var(--color-red-second);
    border:none;
}

#options .active {
    color:var(--color-red-second);
}

#colors-switch-link {
    margin:0;
}

a#type-switch-link {
    font-family:Inter;
    font-weight:500;
    color: var(--color-inactive);
}

#type-switch-link .small-t {
    font-size:65%;
    font-weight:675;
    margin-left:-0.09375rem; // 1.5
}

#type-switch-link .small-t,
[data-size="medium"] a#type-switch-link {
    color: var(--color-fg-true);
}

a#type-switch-link,
[data-size="medium"] a#type-switch-link .small-t {
    color: var(--color-inactive);
}

// logo

#logo {
    text-align:center;
    margin:1.125rem 0 1.25rem;
}

[data-size="medium"] #logo {
    margin:1.25rem 0 1.375rem;
}

#logo svg {
    fill: var(--color-fg-true);
    width:auto;
    height:1.625rem;
}

#logo a:hover path {
//#logo.home svg {
    fill: #d00c4d;
}

/*
#logo.home a:hover path {
    fill: var(--color-fg-true);
}
*/

[data-size="medium"] #logo svg {
    height:1.75rem;
}

[data-size="large"] #logo svg {
    height:1.75rem;
}

#logo a:hover {
    border:0;
}

// main nav

#nav a {
    color:var(--color-fg-true);
    font-family: var(--fontfamily-mono);
    font-size: var(--fontsize-third);
    line-height: var(--fontsize-third);
    padding: .25rem .375rem;
    border-bottom:2px transparent solid;
    margin-right:.875rem;
}

#nav a:hover {
    color: var(--color-red-second);
    border:0;
}

#nav a:last-child {
    margin-right:0;
}

#nav a:first-child {
    margin-left:-.375rem;
}

#nav a.active {
    border-color:var(--color-fg-true);
}

// media queries

.media-mixin(@break) when (@break = @break-single) {
    #nav a {
        margin-right:.875rem;
    }
    #nav {
        display:block;
    }

    #logo svg {
        height:1.75rem;
    }

    [data-size="medium"] #logo svg {
        height:2rem;
    }

    [data-size="large"] #logo svg {
        height:2.25rem;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
    #logo svg {
        margin-bottom:-.5rem;
    }
}
