
// top nav

.top-nav {
    padding-top:.25rem;
    font-size: var(--fontsize-base);
}

.top-nav a {
    margin-left:.375rem;
}

#langs {
    float:right;
}

#langs a {
    color:var(--color-inactive);
}

#langs a.active {
    color:var(--color-fg);
}

#options a {
    vertical-align:middle;
    color:var(--color-fg);
}

#options a:hover {
    color:var(--color-red-second);
    border:none;
}

#colors-mode-link {
    margin:0;
}

#type-mode-link {
    font-family:Inter;
    font-weight:500;
}

#type-mode-link .small-t {
    font-size:65%;
    font-weight:675;
    margin-left:-0.09375rem; // 1.5
}

// logo

#logo {
    text-align:center;
    margin:1.125rem 0 1.25rem;
}

.large #logo {
    margin:1.25rem 0 1.375rem;
}

#logo svg {
    width:auto;
    height:1.625rem;
}

.large #logo svg {
    height:1.75rem;
}

.dark #logo path {
    fill:#fff;
}

#logo a:hover {
    border:0;
}

#logo a:hover path {
    fill:var(--color-red-logo);
}

.media-mixin(@break) when (@break = @break-single) {
    #logo svg {
        height:1.75rem;
    }

    .large #logo svg {
        height:2rem;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
    #logo svg {
        margin-bottom:-.5rem;
    }
}

// main nav

#nav a {
    color:var(--color-fg);
    font-family: var(--fontfamily-mono);
    font-size: var(--fontsize-third);
    padding: .25rem .375rem;
    margin-right: .875rem;
}

#nav a:hover {
    color: var(--color-red-second);
    border:0;
}

#nav a:last-child {
    margin-right:0;
}

#nav a:first-child {
    margin-left:-.375rem;
}

#nav a.active {
    border-bottom:2px transparent solid;
    border-color:var(--color-fg);
}

