{{define "kine-main"}}
{{template "head" .Head}}
{{template "top" .}}


    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{.Head.Title}}
        </h1>
        <h4 class="section-lead">
            {{var "video-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{$months := .Entries.Months}}
    {{range $i, $entries := $months}}
      {{if $i}}
        <h2 class="month-title">
          {{monthLang $entries.First.Date $.Head.Lang}}
        </h2>
      {{end}}
      <div class="video-grid">
      {{range $i, $set := $entries}}
        {{$isAudio := eq "true" (index $set.Info "is-audio")}}
        <div class="kine-card">
        <a href="{{$set.Perma $.Head.Lang}}">
          <span class="image">
            {{if not (isTranslated $set $.Head.Lang)}}
              <img class="no-subtitles" src="/static/svg/no-subtitles.svg">
              <span class="untranslated">
            {{end}}
            {{if $isAudio}}
              <img src="/static/svg/audio.svg" alt="" >
              {{template "kine-audio-cover" (eL $set $.Head.Lang)}}
            {{else if $set.Cover}}
              {{template "graph-image" (eL .Cover $.Head.Lang)}}
            {{else}}
              NO COVER
            {{end}}
          </span>
          {{$set.Info.Field "title-hyph" $.Head.Lang}}
          </a>
          {{if and (not $isAudio) isLocal}}
            {{template "kine-meta" (eL $set $.Head.Lang)}}
          {{end}}
        </div>
      {{end}}
      </div>
    {{end}}




{{template "bot" .Head}}
{{end}}

{{define "kine-title-link"}}
<div>
<a href="{{.E.Perma .L}}" class="title">{{.E.Info.Field "title-hyph" .L}}</a>
</div>
{{end}}

{{define "kine-audio-cover"}}
    <a href="{{.E.Perma .L}}"></a>
{{end}}

{{define "kine-meta"}}
  {{$video := setVideo .E}}
  {{$transcript := (hasTranscript .E .L)}}
  <br>
  {{if $transcript}}
  <span style="background:green">
    Transcript
  </span>
  {{else}}
  <span style="background:red">
    Transcript
  </span>
  {{end}}

  &nbsp;
  {{$subtitles := (hasSubtitles .E .L)}}
  {{if $subtitles}}
  <span style="background:green">
    Subtitles
  </span>
  {{else}}
  <span style="background:red">
    Subtitles
  </span>
  {{end}}

  <br>
  <br>
  <small>1080p [{{$video.Ideal "1080"}}mb]
  720p [{{$video.Ideal "720"}}mb]
  480p [{{$video.Ideal "480"}}mb]</small>
  <br>
  <small>{{$video.Duration}}</small>
  <br>
  <br>
  {{range $video.Sources}}
  <code>{{.Resolution}}p ({{.Mbyte}}mb)</code><br>
  &nbsp;
  {{end}}
  <br>
{{end}}
