{{define "kine-main"}}
{{template "head" .Head}}
{{template "top" .}}


    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{.Head.Title}}
        </h1>
        <h4 class="section-lead">
            {{var "video-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{$months := (.Entries.Offset 0 25).Months}} <!-- 25 -->
    {{range $i, $entries := $months}}
      {{if $i}}
        <h2 class="month-title">
          {{monthLang $entries.First.Date $.Head.Lang}}
        </h2>
      {{end}}
      <div class="video-grid">
      {{range $i, $set := $entries}}
        {{if $set.Cover}}
        <span>
          {{if isTranslated $set $.Head.Lang}}
          <span>
          {{else}}
          <img class="no-subtitles" src="/static/svg/no-subtitles.svg">
          <span class="untranslated">
          {{end}}
          {{template "graph-image" (eL .Cover $.Head.Lang)}}
          </span>
        </span>
        {{else}}
          Has no cover:<br>{{.}}
        {{end}}
      {{end}}
      </div>
    {{end}}




{{template "bot" .Head}}
{{end}}
