{{define "kine-main"}}
{{template "head" .Head}}
{{template "top" .}}


    <div class="section-title__box section-title--index">
        <h1 class="section-title">
            {{.Head.Title}}
        </h1>
        <h4 class="section-lead">
            {{var "video-subtitle" .Head.Lang}}
        </h4>
    </div>

    {{$months := .Entries.Months}}
    {{range $i, $entries := $months}}
      {{if $i}}
        <h2 class="month-title">
          {{monthLang $entries.First.Date $.Head.Lang}}
        </h2>
      {{end}}
      <div class="video-grid">
      {{range $i, $set := $entries}}
        {{$isAudio := eq "true" (index $set.Info "is-audio")}}
        {{$isTranslated := isTranslated $set $.Head.Lang}}
        <div class="kine-card{{if not $isTranslated}} untranslated{{end}}">
        <a href="{{$set.Perma $.Head.Lang}}">
          <span class="image">
            <img class="no-subtitles" src="/static/svg/no-subtitles.svg">
            {{if $isAudio}}
              <img src="/static/svg/audio.svg" alt="" >
            {{else if $set.Cover}}
             <img alt=""
               src="{{$set.Cover.ImagePath 320 $.Head.Lang}}" 
               srcset="{{template "graph-thumb-srcset" (eL $set.Cover $.Head.Lang)}}">
            {{else}}
              NO COVER
            {{end}}
          </span>
              <span class="title">
                {{$set.Info.Field "title-hyph" $.Head.Lang}}
              </span>
          </a>
          {{if isLocal}}
            {{template "kine-meta" (eL $set $.Head.Lang)}}
          {{end}}
        </div>
      {{end}}
      </div>
    {{end}}


{{template "bot" .Head}}
{{end}}

{{define "kine-meta"}}
  {{$transcript := (hasTranscript .E .L)}}
  <br>
  {{if $transcript}}
  <span style="background:green">
    Transcript
  </span>
  {{else}}
  <span style="background:red">
    Transcript
  </span>
  {{end}}

  &nbsp;
  {{$subtitles := (hasSubtitles .E .L)}}
  {{if $subtitles}}
  <span style="background:green">
    Subtitles
  </span>
  {{else}}
  <span style="background:red">
    Subtitles
  </span>
  {{end}}

  {{$video := setVideo .E}}
    {{if $video}}
    <br>
    <br>
    <small>1080p [{{$video.Ideal "1080"}}mb]
    720p [{{$video.Ideal "720"}}mb]
    480p [{{$video.Ideal "480"}}mb]</small>
    <br>
    <small>{{$video.Duration}}</small>
    <br>
    <br>
    {{range $video.Sources}}
    <code>{{.Resolution}}p ({{.Mbyte}}mb)</code><br>
    &nbsp;
    {{end}}
    <br>
  {{end}}
{{end}}
