{{define "kine-single"}}

{{template "head" .Head}}
{{template "top" .}}

    <div id="part">
    {{template "kine-single-part" .}}
    </div>

    {{template "bot" .Head}}

{{end}}}

{{define "kine-single-part"}}

    {{template "subnav" (snav .Entry.Parent .Entry.Id .Head.Lang)}}
    {{$eL := eL .Entry .Head.Lang}}
    <div id="body">
      <h1 class="video-title-bar">
        <span class="video-date">
          {{.Entry.Date.Format "2"}}
          {{abbr (monthLang .Entry.Date $.Head.Lang)}}
        </span>
        <span class="video-title">
        {{.Entry.Title .Head.Lang}}
        </span>
      </h1>
          {{template "video-entry" $eL}}
    </div>

  {{if isLocal}}
  <div class="margin">
  {{template "edit-link" $eL}}
  </div>
  {{end}}

{{end}}

{{define "kine-date" -}}
{{.E.Date.Format "2"}} {{abbr (monthLang .Entry.Date .L)}}
{{- end}}

{{define "video-entry"}}
{{$type := $.E.Type}}
    {{if eq $type "set"}}
      {{template "video-set" .}}
    {{else}}
      {{template "entry" .}}
    {{end}}
{{end}}

{{define "video-set"}}
<div class="set">
    {{range .E.Entries}}
      {{template "video-entry" (eL . $.L)}}
    {{end}}
</div>
{{end}}




