@media (max-width: @break-single) {
    .desktop {
        display:none;
    }
}

@media (max-width: 20rem) {
    .margin {
        padding:0 .5rem;
    }
    .lang-nav {
        padding-top:0;
    }
    .logo {
        margin-bottom:.875rem;
    }
    .logo svg {
        height:1.375rem;
    }
    .main-nav {
        margin-left:-.25rem;
    }
    .mnavl:first-child {
        margin-left:0;
    }
    .front-lead {
        margin-bottom:1.5rem;
    }
    .index-el-front,
    .index-el {
        margin-bottom:1.5rem;
    }
    .graph-lead {
        margin-bottom:1.5rem;
    }
    .about-title {
        margin-bottom:2rem;
    }
    .l1 {
        font-size:2.25rem;
    }
    .fleuron {
        margin-right:-.5rem;
    }
}

