{{define "account-extra"}}
{{template "head" .Meta}}
{{template "top" .}}
<h1 class="about-title subscribe-title">
        {{.Tree.Title .Meta.Lang}}
    </h1>
    Email: <code>{{.Meta.Auth.User.Mail}}</code>
{{template "bot" .Meta}}
{{end}}

{{define "register-extra"}}
{{template "head" .Meta}}
{{template "top" .}}
<h1 class="about-title subscribe-title">
        {{.Tree.Title .Meta.Lang}}
    </h1>
    <form action="/api/register" method="post">
    <input type="text" name="name" placeholder="your name"> <br>
    <input type="text" name="mail" placeholder="name@mail.com"> <br>
    <button>Submit</button>
    </form>
{{template "bot" .Meta}}
{{end}}

{{define "login-extra"}}
{{template "head" .Meta}}
{{template "top" .}}
<h1 class="about-title subscribe-title">
        {{.Tree.Title .Meta.Lang}}
    </h1>
    <form action="/api/login/request" method="post">
    <input type="email" name="mail" placeholder="name@mail.com"> <br>
    <button>Submit</button>
    </form>
      <br>
      No account? Go <a href="/register">register</a>!
      <br>
{{template "bot" .Meta}}
{{end}}

{{define "subscribe-extra"}}
{{template "head" .Meta}}
{{template "top" .}}
<h1 class="about-title {{.Tree.Slug "en"}}-title">
        {{.Tree.Title .Meta.Lang}}
    </h1>


<div>
  <li>See all posts</li>
  <li>Access archvie</li>
</div>
<br>

<h3>Fill in information</h3>
<input type="text" placeholder="Name"/><br>
<input type="email" placeholder="Email address"/>
<h3>Checkout via PayPal</h3>
<div id="paypal-button-container-P-6G4632365X655423YMLX24SI" class="paypal-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AQXdUaMkcLq499D2u5rvMlEmMKEH2krclSuQheuza_lzuMZj7d6KxjISJWjhue5vsle_fwRB706ZxXCL&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  function createSubscription() {
      fetch('/api', {
          method: 'POST',
          body: JSON.stringify({
              name: 'john',
              mail: 'john@gmail.com',
              //subscriptionID: data.subscriptionID,
              subscriptionID: 'I-SE9PDYJB1KF1'
            })
        })
    }
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      onInit: function(data, actions) {
          actions.disable();
      },
      onClick: function(data, actions) {
          alert("not working yet");
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-6G4632365X655423YMLX24SI'
        });
      },
      onApprove: function(data, actions) {
      }
  }).render('#paypal-button-container-P-6G4632365X655423YMLX24SI'); // Renders the PayPal button
</script>
<button onclick="createSubscription()">Send</button>

{{end}}
