{{define "video-single"}}

{{template "head" .Head}}
{{template "top" .}}

    <div id="part">
    {{template "video-single-part" .}}
    </div>

    {{template "bot" .Head}}

{{end}}}

{{define "video-single-part"}}

    {{template "subnav" (snav .Entry.Parent 0 .Head.Lang)}}
    {{$eL := eL .Entry .Head.Lang}}

    <div id="body">
      <h1 class="index-title">{{.Entry.Title .Head.Lang}}</h1>
          {{template "entry" $eL}}
    </div>

  {{if isLocal}}
  <div class="margin">
  {{template "edit-link" $eL}}
  </div>
  {{end}}

{{end}}


