{{define "reels-main"}}
{{template "head" .Meta}}
{{template "top" .}}

  {{template "subnav" (snav .Tree nil .Meta.Lang)}}
  {{template "reels-header" .Meta.Title}}
  {{template "reels-grid" (esL .Entries .Meta.Lang)}}

{{template "bot" .Meta}}
{{end}}

{{define "reels-year"}}
{{template "head" .Meta}}
{{template "top" .}}

  {{template "subnav" (snav .Tree nil .Meta.Lang)}}
        <h1 class="monthpage-title reels-header">
          <span class="reels-year">{{.Tree.Date.Format "2006"}},</span>
          <span class="reels-logo">{{if eq .Meta.Lang "en"}}Cine{{else}}Kine{{end}}</span>
        </h1>
  {{template "reels-grid" (esL .Entries .Meta.Lang)}}

{{template "bot" .Meta}}
{{end}}

{{define "reels-header"}}
    <div class="section-title__box section-title--reels">
        <h1 class="section-title">
          {{.}}
        </h1>
    </div>
{{end}}

{{define "reels-grid"}}
    <div class="video-grid">
    {{range $i, $k := .Entries}}
      {{template "reels-card" (eLy $k $.Lang false)}}
    {{end}}
    </div>
{{end}}

{{define "reels-card"}}
    {{$isAudio := eq "true" (index .Entry.Info "is-audio")}}
    {{$isTranslated := isTranslated .Entry .Lang}}
    <div class="reels-card{{if not $isTranslated}} untranslated{{end}}">
      <a href="{{.Entry.Perma .Lang}}">
        <span class="image">
          <img class="no-subtitles" src="/static/svg/no-subtitles.svg">
          {{if $isAudio}}
          <img src="/static/svg/audio.svg" alt="">
          {{else if .Entry.Cover}}
          <picture>
            <source srcset="{{.E.Cover.SrcSet 320 .L}},
                            {{.E.Cover.SrcSet 480 .L}},
                            {{.E.Cover.SrcSet 960 .L}},
                            {{.E.Cover.SrcSet 1280 .L}}"
                    sizes="(max-width: 36rem) 90vw, 25vw">
            <img alt="" {{if .Lazy}}loading="lazy" {{end}} src="{{.Entry.Cover.ImagePath 320 .Lang}}" 
                 width="{{.Entry.Cover.Width 1280}}" height="{{.Entry.Cover.Height 1280}}">
          </picture>
          {{else}}
          NO COVER
          {{end}}
        </span>
          <span class="date">
          {{.Entry.Date.Format "2 Jan 06"}}
          </span>
          <!--
          <span class="date">
          {{duration .Entry}}
          </span>
          -->
          <span class="title">
            {{.Entry.Info.Field "title-hyph" .Lang}}
          </span>
      </a>
      {{if displayInfo}}
      {{template "reels-meta" (eL .Entry .Lang)}}
      {{end}}
    </div>
{{end}}

{{define "reels-meta"}}
  <div class="reels-meta">
    <span class="{{if isTranscripted .E}}has-meta{{end}}">
      Transcript
    </span>
    <span class="{{if isCaptioned .E}}has-meta{{end}}">
      Captions
    </span>
  </div>

  {{$video := setVideo .E}}
    {{if $video}}
    <br>
    <br>
    <small>1080p [{{$video.Ideal "1080"}}mb]
    720p [{{$video.Ideal "720"}}mb]
    480p [{{$video.Ideal "480"}}mb]</small>
    <br>
    <small>{{$video.Duration}}</small>
    <br>
    <br>
    {{range $video.Sources}}
    <code>{{.Resolution}}p ({{.Mbyte}}mb)</code><br>
    &nbsp;
    {{end}}
    <br>
  {{end}}
{{end}}
