{{define "cache-single"}}

{{template "head" .Meta}}
{{template "top" .}}

    <div id="part">
    {{template "cache-single-part" .}}
    </div>

    {{template "bot" .Meta}}

{{end}}}


{{define "cachenav"}}
    <nav id="subnav" class="subnavs cachenav">
      {{$year := .T.Parent}}
      {{template "subnav-row" (snav $year.Parent $year .L)}}
      {{template "monthnav" (snav $year .Active .L)}}
    </nav>
{{end}}

{{define "monthnav"}}
      <div class="subnav monthnav">
      {{range $month := .T.Trees}}
        {{$isActive := eq $month.Id $.Active.Parent.Id}}
        <a href="{{$month.Perma $.L}}" class="cachemonth{{if $isActive}} active{{end}}">{{$month.Date.Format "Jan"}}</a>
        {{if $isActive}}
          {{range $day := $month.Entries}}
            <a href="{{$day.Perma $.L}}"
               {{if eq $day.Id $.ActiveId}}class="active"{{end}}>{{$day.Date.Format "2"}}</a>
          {{end}}
        {{end}}
      {{end}}
      </div>
{{end}}


{{define "cache-title"}}
    <h1 class="video-title-bar">
      <span class="video-date">
        {{.Entry.Date.Format "2"}}
        {{abbr (monthLang .Entry.Date .L)}}
      </span>
      <span class="video-title">
      {{.Entry.Info.Field "title-display" .L}}
      </span>
    </h1>
{{end}}

{{define "cache-single-part"}}

{{template "cachenav" (snav .Entry.Parent .Entry .Meta.Lang)}}

    {{$eL := eL .Entry .Meta.Lang}}
    <div id="body">
      {{template "cache-title" $eL}}
      {{template "cache-entry" $eL}}
    </div>

    <!--
    <div class="video-grid">
    {{/* range .Neighbors}}
    {{template "cache-card" eL . $.Meta.Lang}}
    {{end */}}
    </div>
    -->

  {{if isLocal}}
  <div class="margin">
  {{template "edit-link" $eL}}
  </div>
  {{end}}

{{end}}

{{define "cache-date" -}}
{{.E.Date.Format "2"}} {{abbr (monthLang .Entry.Date .L)}}
{{- end}}

{{define "cache-entry"}}
{{$type := $.E.Type}}
    {{if eq $type "set"}}
      {{template "cache-set" .}}
    {{else if or (eq $type "video") (eq $type "audio")}}
      {{template "cache-av" .}}
    {{else}}
      {{template "entry" .}}
    {{end}}
{{end}}

{{define "cache-set"}}
<div class="set">
    {{range .E.Entries}}
      {{template "cache-entry" (eL . $.L)}}
    {{end}}
</div>
{{end}}

{{define "cache-av"}}
{{if eq .E.Type "audio"}}
  <div class="column cache-audio">
    {{template "entry" .}}
  </div>
{{else}}
  {{template "entry" .}}
{{end}}
  {{template "cache-transcript" .}}

{{end}}

{{define "cache-transcript"}}
  {{with .E.Transcript}}
    {{$text := index .Langs $.L}}
    {{if $text}}
    <div class="transcript transcript-cache column">
      <h3>{{var "transcript" $.L}}</h3>
      <div class="{{$.E.Info.TextStyle}}">
        {{$text}}
      </div>
      {{template "footnotes" (nL .Footnotes $.L)}}
    </div>
    {{end}}
  {{end}}
{{end}}
