
// entry

.tob {
    margin-bottom:1.75rem;
}

.col__content {
    max-width:29rem;
}

[data-type="large"] .col__content {
    max-width:31rem;
}

// title

.index-title.index-title--front {
    font-size:2.3rem;
}

.front-lead {
    font-size: var(--fontsize-third);
    margin:.75rem 0 1rem;
    text-align:justify;
    letter-spacing:.0075rem;
}

.front-meta {
    /*
    */
    font-size:1rem;
    text-align:right;
    font-family:var(--fontfamily-sans);
    font-weight:600;
}

[data-type="large"] .front-meta {
    font-size:1.125rem;
    font-size:1rem;
}

.front-meta a {
    color:var(--color-fg);
}

.col .blob-group:last-child {
    margin-bottom:2.5rem;
}

@media (max-width: @break-single) {
    .front-lead {
        margin-top:1rem;
    }
    .graph-col {
        margin-top:-.75rem;
    }
}

.col .index-thumb img,
.col .blob-group img {
    max-width:100%;
    display:inline-block;
}


.topic-front {
    font-size: var(--fontsize-meta);
    text-transform:lowercase;
    margin:0;
    padding:0;
}

.graph-date,
.topic-front {
    line-height:1.6;
    margin-bottom: var(--fontsize-first);
}

.graph-date {
    font-size: var(--fontsize-base);
    text-align:right;
}

.graph-datel {
    vertical-align:top;
}

.changelog-title {
    vertical-align:top;
    width:15rem;
    display:inline-block;
}

.index-el-front {
    margin-bottom:1.875rem;
}

.front-title {
    font-family: var(--fontfamily-sans);
    text-transform:capitalize;
    font-feature-settings: "cv10";
    margin:1.5rem 0 1.5rem;
    font-size:1.75rem;
    line-height:1.3;
    letter-spacing:0.035rem;
    font-weight:500;
}

[data-colors="dark"] .front-title {
}

.front-title a {
        color:var(--color-fg-true);
}

.cols {
    margin-top:.5rem;
}

.media-mixin(@break) when (@break = @break-single) {
    .cols {
        display:grid;
        column-gap:4rem;
        grid-template-columns:1fr 1fr;
    }

    .front-title {
        margin:1.125rem 0 1.75rem;
        letter-spacing:.04rem;
        font-size:1rem;
    }
    [data-type="large"] .front-title {
        font-size:1.1875rem;
        margin-top:1.125rem;
        font-size:1.3rem;
    }
    .front-lead {
        margin:.75rem 0 1rem;
    }

    /*
    This is necessary: “.col” is maximum 600px wide.
    */
    .col .index-thumb img,
    .col .blob-group img {
        max-width:20rem;
        max-height:20rem;
    }
    .col .phantom {
        display:none;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
    .front-title {
    }
}
