.col--video {
    margin-bottom:4rem;
}

.front-videos {
    margin:2rem 0 1rem;
    display:flex;
    justify-content:space-between;
}

.front-video figure {
    display:inline;
}

.front-video img {
    height:6.875rem;
    margin-right:1.5rem;
}

.front-video img:hover {
    opacity:.9;
}

.quicklinks a {
    color:var(--color-fg);
    margin-right:.5rem;
    //border:1px #000 solid;
    padding:.25rem;
    background:red;
}

h2.front-head {
    font-weight:normal;
    font-family:var(--fontfamily-garamond);
    font-style:italic;
    margin:1rem 0 -.5rem;
}

.quicklinks {
    //margin:.5rem 0 -.5rem;
    margin:1rem 0;
}
.featured figure {
    text-align:left;
}
.featured video {
    height:12rem;
}

// entry

.tob, .set--graph {
    margin-bottom:1.75rem;
}

.col__content {
    max-width:29rem;
}

[data-size="medium"] .col__content {
    max-width:31rem;
}

.col__spacer {
    border-bottom:2.5px #000 solid;
    margin:3.5rem 0 3rem;
}


// title

.index-title.index-title--front {
    font-size:2.3rem;
    margin: 1.25rem 0;
}

.col--index {
    margin-top:-1.25rem;
}

.front-lead {
    font-size: var(--fontsize-third);
    margin:.75rem 0 1rem;
    text-align:justify;
    letter-spacing:.0075rem;
}

.front-meta {
    /*
    */
    font-size:1rem;
    text-align:right;
    font-family:var(--fontfamily-sans);
    font-weight:600;
}

[data-size="medium"] .front-meta {
    font-size:1.125rem;
    font-size:1rem;
}

.front-meta a {
    color:var(--color-fg);
}

.col .blob-group:last-child {
    margin-bottom:2.5rem;
}

@media (max-width: @break-single) {

    .front-lead {
        margin-top:1rem;
    }
    .graph-col {
        margin-top:-.75rem;
    }
}

.col .index-thumb img,
.col .blob-group img {
    max-width:100%;
    display:inline-block;
}


.topic-front {
    font-size: var(--fontsize-meta);
    text-transform:lowercase;
    margin:0;
    padding:0;
}


.graph-date {
    margin-bottom: .625rem;
    font-size: var(--fontsize-first);
}

.graph-date a {
    color:var(--color-fg);
}

.index-el-front {
    margin-bottom:1.875rem;
}

.front-title {
    font-family: var(--fontfamily-sans);
    text-transform:capitalize;
    font-feature-settings: "cv10";
    margin:1.5rem 0 1.5rem;
    font-size:1.75rem;
    line-height:1.3;
    letter-spacing:0.035rem;
    font-weight:500;
}

[data-colors="dark"] .front-title {
}

.front-title a {
        color:var(--color-fg-true);
}

.cols {
    margin-top:2.75rem;
}

.media-mixin(@break) when (@break = @break-single) {
    .col__spacer {
        display:none;
    }

    .cols {
        margin-top:1.875rem;
        display:grid;
        column-gap:4rem;
        grid-template-columns:1fr 1fr;
    }

    .front-title {
        margin:1.125rem 0 1.75rem;
        letter-spacing:.04rem;
        font-size:1rem;
    }
    [data-size="medium"] .front-title {
        font-size:1.1875rem;
        margin-top:1.125rem;
        font-size:1.3rem;
    }
    .front-lead {
        margin:.75rem 0 1rem;
    }

    /*
    This is necessary: “.col” is maximum 600px wide.
    */
    .col .index-thumb img,
    .col .blob-group img {
        max-width:20rem;
        max-height:20rem;
    }
    .col .phantom {
        display:none;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
    .front-title {
    }
}
