@font-face {
    font-family: "EB Garamond 12 SC";
    font-style: normal;
    font-weight: normal;
    font-display:fallback;
    src:    url("/static/fonts/EBGaramondSC12-Regular.woff2?v=a") format("woff2"),
            url("/static/fonts/EBGaramondSC12-Regular.woff?v=a") format("woff");
}

.graph-title {
    margin-bottom:3.25rem;
    //margin-bottom:4.5rem;
}

.year-title .section-title {
    font-family:'President Std', @ebg12;
    letter-spacing:.4rem;
    font-size:3.125rem;
    line-height:1.2;
}

.large .year-title .section-title {
    font-size:4rem;
    letter-spacing:.5rem;
}

.section-title-box.year-title {
    margin-top:1.625rem;
    margin-bottom:-3.5rem;
}

.month-title {
    font-family:@ebg12-sc;
    font-size:1.75rem;
    text-transform:lowercase;
    letter-spacing:.1rem;
    padding:5.5rem 0 0;
    margin:.5rem 0 2.5rem;
}

/*
.graph-date {
    //letter-spacing:.025rem;
    font-size:.9375rem;
}
*/

.ddot {
    color:#000;
}

.night .ddot {
    color:@night-white;
}
/*
.graph-date {
    margin:0 0 .25rem;
}
*/
.graph-grid {
    margin-top:-2rem;
}

.images {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

#graph-main-more {
    display:none;
}

#graph-main-more.show {
    display:block;
}

.graph-tip {
    font-feature-settings: "lnum";
    font-size:1.375rem;
}

.graph-tip a {
    letter-spacing:.08rem;
}

.graph-tip {
    margin:3rem 0 2rem;
}

.prev-next-year {
    margin-top:4rem;
    margin-bottom:2rem;
}

.col .texts:first-child,
.col .texts {
    margin:0;
}

.col .images:first-child,
.col .images {
    margin:1rem 0 2rem;
}

.texts:first-child,
.images:first-child {
    margin:2.5rem 0 4rem;
}

.texts,
.images {
/*
    margin:3rem 0 2rem;
    margin:1rem 0 1rem;
*/
    margin:4rem 0;
}

.month:first-child {
    margin-top:-1rem;
}

.month {
    margin-bottom:-1.5rem;
}

.phantom {
    display:none;
}

/*
.images img {
    max-width:calc(50vw - 1.25rem);
    //max-height:calc(50vw - 1.25rem);
}
*/

.media-mixin(@break) when (@break = @break-single) {
    .graph-title {
        margin-bottom:4rem;
        //margin-bottom:5.25rem;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
}

.graph-text .text-entry,
.graph-text {
    margin-bottom:2rem;
}

.graph-text .text-entry:last-child {
    margin-bottom:0;
}

.graph-set .text-entry {
    margin-bottom:2rem;
}
