
.set .entry:last-child {
    margin-bottom:0;
}

@font-face {
    font-family: "EB Garamond 12 SC";
    font-style: normal;
    font-weight: normal;
    font-display:fallback;
    src:    url("/static/fonts/EBGaramondSC12-Regular.woff2?v=a") format("woff2"),
            url("/static/fonts/EBGaramondSC12-Regular.woff?v=a") format("woff");
}

.section-title--graph {
    margin-bottom:3.25rem;
}

.section-title--year .section-title {
    font-family: var(--fontfamily-year);
    color: var(--color-fg-true);
    letter-spacing:.4rem;
    font-size:3.125rem;
    line-height:1.2;
}

.section-title--year img {
    height:3rem;
}

[data-size="medium"] .section-title--year .section-title {
    font-size:4rem;
    letter-spacing:.5rem;
}

.section-title__box.section-title--year {
    margin-top:2rem;
    margin-bottom:-4.5rem;
}

.year-label {
    margin-right:.625rem;
}

.month-title {
    font-family:var(--fontfamily-garamond12-sc);
    font-size:1.75rem;
    text-transform:lowercase;
    letter-spacing:.1rem;
    padding:5.5rem 0 0;
    margin:.5rem auto 2.5rem;
    font-weight:normal;
    max-width:var(--text-width);
}

.ddot {
    color:var(--color-fg);
}

.graph-grid {
    margin-top:-2rem;
}

.mob-group {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}

.mob-group.single {
    display:block;
    text-align:center;
}

#graph-main-more {
    display:none;
}

#graph-main-more.show {
    display:block;
}

.graph-tip {
    font-feature-settings: "lnum";
    font-size:1.375rem;
}

.graph-tip a {
    letter-spacing:.08rem;
}

.graph-tip {
    margin:3rem 0 2rem;
}

.prev-next-year {
    margin-top:4rem;
    margin-bottom:2rem;
}

.col .texts:first-child,
.col .texts {
    margin:0;
}

.col .mob-group:first-child,
.col .mob-group {
    margin:1rem 0 2rem;
}

.texts:first-child,
.mob-group:first-child {
    margin:1.75rem 0;
}

.texts,
.mob-group {
    margin:4rem 0;
}

.month:first-child {
    margin-top:-1rem;
}

.month {
    margin-bottom:-1.5rem;
}

.phantom {
    display:none;
}

.media-mixin(@break) when (@break = @break-single) {
    .section-title__box.section-title--year {
        margin-top:1.625rem;
        margin-bottom:-3.5rem;
    }

    /*
    .section-title--year img {
        margin-top:1rem;
        height:3.75rem;
    }
    */

    .section-title--graph {
        margin-bottom:4rem;
    }
}

.media-mixin(@break) when (@break = @break-wide) {
}

.graph-text .tob,
.graph-text {
    margin-bottom:2rem;
}

.graph-text .tob:last-child {
    margin-bottom:0;
}

.graph-set .tob {
    margin-bottom:2rem;
}

.graph-date,
.tob {
    margin-left:auto;
    margin-right:auto;
}

.entry--graph {
    margin-bottom:4rem;
}
