
/*
text[font-family=x1] {
    font-family:var(--fontfamily-garamond12);
    font-size:1rem;
    font-style:italic;
}

text[font-family=x2] {
    font-family:var(--fontfamily-garamond);
    font-size:1rem;
    letter-spacing:.03rem;
}
*/

.hold-title {
    margin:1.5rem 0 1.75rem;
    font-family:var(--fontfamily-garamond12);
    font-size:2.125rem;
    letter-spacing:.3rem;
    text-transform:uppercase;
    font-feature-settings:"calt";
}

.large .hold-title {
    font-size:2.5rem;
    letter-spacing:.35rem;
}

.article-title {
    font-style:italic;
    margin:2.5rem 0 3rem;
    font-size:2.25rem;
    letter-spacing:0;
    font-family:var(--fontfamily-garamond12);
}

.l1 {
    font-size:2.375rem;
    letter-spacing:.5rem;
}

.hold-title .fleuron {
    margin-right:-.375rem;
    //font-size:1.55rem;
    font-size:112%;
    line-height:100%;
}

.index-el .el {
    //display:inline-block;
}

.index-date {
    font-family: var(--fontfamily-alegreya-sc);
    font-size:.9375rem;
}

.index-date-bot {
    text-align:right;
}

.index-date-top {
    display:none;
}

.media-mixin(@break) when (@break = @break-single) {
    .index-date-bot {
        display:none;
    }
    .l1 {
        font-size:2.5rem;
    }
    .index-date-top {
        display:block;
        line-height:1.6625rem; //1.7rem
        //vertical-align:text-top;
        margin-top:-1px;
        float:right;
    }
}

.index-datel {
    //letter-spacing:.06rem;
    //font-size:.875rem;
    color: #000;
}

.dark .index-datel {
    color:@dark-white;
}

.index-el {
    //margin-bottom:1.1625rem;
    margin-bottom:1.75rem;
}

.indexmap polygon {
    fill: transparent;
}

.indexmap text:hover {
    fill:@second-red;
}

.dark .indexmap text:hover {
    fill:@dark-prim-red;
}

.dark .indexmap text {
    fill:@dark-white;
}

.dark .indexmap path {
    stroke: @dark-white;
}

.index-map .indexmap {
    display:block;
    margin:0 auto;
}
