
.video-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.video-grid img {
    max-height:9rem;
    margin-bottom:.5rem;
}

.untranslated .thumb {
    opacity:.6;
}

.no-subtitles {
    position:absolute;
    z-index:1;
}

.front-video .no-subtitles {
    height:1.5rem;
    margin:.25rem .5rem;
}

.video-grid .no-subtitles {
    margin:.25rem .5rem;
    height:2rem;
}

.front-video.untranslated {
    display:none;
}

.video-title-bar {
    margin:.25rem 0 .75rem;
    line-height:1;
    /*
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    */
}

.video-title {
    font-family: var(--fontfamily-garamond12);
    font-size:2rem;
}

.video-date {
    font-size:1.3125rem;
    font-weight:550;
    font-family: var(--fontfamily-sans);
    margin-right:.5rem;
    display:none;
}

.media-mixin(@break) when (@break = @break-single) {
    .video-title-bar {
        margin:1.25rem 0 .75rem;
    }
    .video-title {
        font-size:2.75rem;
    }
    .video-date {
        //font-size:1.5rem;
        font-size:1.875rem;
        margin-right:.75rem;
    }
    .video-grid img {
        max-height:20rem;
    }
    .front-video.untranslated {
        display:inline;
    }
}

