
.video-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.kine-card {
    max-width:48%;
    margin-bottom:2rem;
}

.kine-card .image {
    display:inline-block;
    line-height:0;
    margin:0 0 .375rem;
}

.kine-card .title {
    font-size:var(--fontsize-third);
}

.kine-card a:hover {
    color:var(--color-red-first);
}

.kine-card a {
    color:var(--color-fg);
    border:0;
}

.untranslated .thumb {
    opacity:.6;
}

.no-subtitles {
    position:absolute;
    z-index:1;
}

.front-video .no-subtitles {
    height:1.5rem;
    margin:.25rem .5rem;
}

.video-grid .no-subtitles {
    margin:.25rem .5rem;
    height:2rem;
}

.front-video.untranslated {
    display:none;
}

.video-title-bar {
    margin:.75rem 0 1rem;
    /*
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    */
    font-size:2.3rem;
    line-height:1.15;
    font-family: var(--fontfamily-garamond12);
}

.video-title {
}

.video-date {
    font-size:1.3125rem;
    font-weight:550;
    font-family: var(--fontfamily-sans);
    margin-right:.5rem;
    display:none;
}

.media-mixin(@break) when (@break = @break-single) {
    .video-title-bar {
        margin:1.25rem 0 .75rem;
    }
    .kine-card {
        max-width:15rem;
        margin:0 2.5rem 2rem 0;
    }
    .kine-card .image {
        margin:0 0 .75rem;
    }
    .kine-card .title {
        font-family:var(--fontfamily-garamond12);
        font-size:1.5rem;
    }
    .video-title {
        font-size:2.75rem;
    }
    .video-date {
        //font-size:1.5rem;
        font-size:1.875rem;
        margin-right:.75rem;
    }
    .video-grid img {
    }
    .front-video.untranslated {
        display:inline;
    }
}

