
.video-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.video-grid img {
    max-height:9rem;
    margin-bottom:.5rem;
}

.media-mixin(@break) when (@break = @break-single) {
    .video-grid img {
        max-height:20rem;
    }
}
